{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_content_delete', {'content' : content.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer un contenu {{ content.title }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer le contenu {{ content.title}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
