{% block checkbox_row %}
    <div class="{{ form.vars.row_attr.class is defined ? form.vars.row_attr.class : '' }}">
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
{% endblock %}