{% block ckeditor_row %}
    <div {% if form.vars.row_attr.class is defined %}class="{{ form.vars.row_attr.class }}"{% endif %}>
        <div {{ vue_component('Ckeditor',{
            'id': form.vars.id,
            'label': form.vars.label, 
            'value': form.vars.value, 
            'name': form.vars.full_name, 
            'upload_url': form.vars.upload_url,
            'toolbar': form.vars.toolbar,
        }) }}></div>
    </div>
{% endblock %}