{% block custom_file_row %}
    {% set class = (form.vars.row_attr.class is defined) ? form.vars.row_attr.class : 'form-group' %}
    <div class="{{ class }}">
        {{ form_label(form) }}
        <button class="input-file-button" type="button">Selectionner un fichier</button>
        <p id="filename">{{ form.vars.value }}</p>  
        {{ form_widget(form) }} 
    </div>
{% endblock %}