{% block customcheck_widget %}
    <div class="form-group">
        {% if form.parent.vars.name == 'approvals' %}
            {% set children = form.value.children %}
            {{ form_widget(form.type) }}
        {% elseif form.vars.name == 'coverage' %}
            {% set children = form %}
        {% elseif form.vars.name == 'cluster' %}
            {% set children = form %}
        {% endif %}    

        {% for  child in children %}
            <div class="inputGroup {{ child.vars.value ? 'check' : 'ballot' }}">
                {{ form_widget(child)}}
                {{ form_label(child)}}
            </div>
        {% endfor %}
    </div>
{% endblock %}