{% block switch_widget %}
    <label class="switch">
        {{ form_widget(form) }}
        <span class="slider round"></span>
    </label>
{% endblock %}


{% block file_widget %}
    <span>
        {{ form_widget(form) }}
        {% set value = form.parent.vars.value.filename %}
        <img class="favicon{% if value is empty %} hidden{% endif %}" src="uploads/{{value}}" alt="Favicon">
    </span>
{% endblock %}