{% block tiptap_row %}
    <div 
        {{ stimulus_controller('tiptap', {
            id: form.vars.id,
            content: form.vars.value,
            uploadUrl: form.vars.upload_url,
            token: app.user ? 'ton_logique_token' : null
        }) }}
        class="tiptap-container min-h-[200px] border-2 border-neutral-200 rounded-md mb-2"
    >
        {# La toolbar sera injectée ici ou déjà présente #}
        <div data-tiptap-target="toolbar" class="relative p-1 bg-white flex flex-wrap place-content-between after:absolute after:left-0 after:w-full after:bottom-0 after:h-[2px] after:bg-neutral-200"></div>
        
        {# L'éditeur #}
        <div data-tiptap-target="editor" class="prose max-w-none p-2"></div>
        
        {# Le champ caché pour Symfony #}
        <input type="hidden" 
               name="{{ form.vars.full_name }}" 
               id="{{ form.vars.id }}" 
               value="{{ form.vars.value }}"
               data-tiptap-target="input">
    </div>
{% endblock %}
