{% extends 'base_modal.html.twig' %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer un chapitre{% endblock %}
{% block body %}
    <p>Etes-vous de supprimer le chapitre {{ chapter.title}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_href = path('chapter_delete', {'chapter' : chapter.id}) %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}