{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_vote_disable', {'vote' : vote.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Cloturer un vote{{ vote.title }}{% endblock %}
{% block body %}
    <p>Etes-vous de cloturer le vote {{ vote.title }} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Colturer' %}
    {{ parent() }}
{% endblock %}
