<turbo-frame id="guest_registration_frame" class="mt-10">
    <div class="mt-4">
        <p>Un email a été envoyé à <strong>{{ email }}</strong>.</p>
        <p>Veuillez consulter votre boîte de réception pour finaliser l'inscription.</p>
    </div>
</turbo-frame>
    