{% extends 'base_modal_stimulus.html.twig' %}
{% set type = 'primary' %}
{% block modal_title %}Déconnexion{% endblock %}
{% block body %}
    <p>Etes-vous sûr de vouloir vous déconnecter ?</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="flex justify-center text-white bg-{{ type}}"
    >
    <div class="flex gap-3 items-center ">
        {{ ux_icon('lucide:log-out', {class: 'size-6'}) }} Se déconnecter
    </div>
    </button>
{% endblock %}
