{% extends 'base.html.twig' %}

{% block title %}Votes{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width full-background">
        <div class="wrapper-title">
            <h1>Votes</h1>
        </div>
        <div class="wrapper-body">
                <div class="block background-white">
                    <div class="block-title">
                        <h2>Votes</h2>
                    </div>
                    <div class="block-body">
                        {% if votes is not empty %}
                            <ul>
                                {% for vote in votes %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5"><b>{{ vote.title }}</b></div>
                                            <div class="col-md-4">du {{ vote.startAt|date('d/m/Y') }} au {{ vote.endAt|date('d/m/Y') }}</div>
                                            <div class="col-md-3">
                                                {% if vote in user_votes %}
                                                    <span class="info">Effectué</span>
                                                {% else %}
                                                    <a href="{{ path('vote', {'vote': vote.id}) }}" class="btn btn-primary"><i class="fas fa-chevron-circle-right"></i> Voter</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Auncun vote actif actuellement</p>
                        {% endif %}
                    </div>    
                </div>
        </div>
    </div>
{% endblock %}
