{% extends 'base.html.twig' %}

{% block title %}Gestion des assurances{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="bg-primary text-white flex">
            <div class="px-3 py-2">
            <h1 class="font-bold text-3xl flex items-center gap-2">Gestion des assurances {{ app.session.get('currentSeason') }} - <span class="bg-white text-base text-primary flex justify-center size-6 rounded-full">{{ paginator.total }}</span></h1>
            </div>
            <div class="ml-auto flex gap-2 items-center">
                {% include 'component/dropdown.html.twig' with {dropdown: tools}%}
            </div>
        </div>
        {% include('coverage/admin/_frame_list.html.twig') %}
    </div>
{% endblock %}
