{% extends 'base_modal_stimulus.html.twig' %}
{% set type = 'success' %}
{% block modal_title %}Valider une assurance{% endblock %}
{% block body %}
    <p>Confirmez-vous la validation de l'assurence {{ app.session.get('currentSeason') }} de {{ fullname }} ?</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="flex justify-center text-white bg-{{ type}}"
    >
        <div class="flex gap-3 items-center ">
            {{ ux_icon('lucide:check-check', {class: 'size-6'}) }} 
            <div>Valider</div>
        </div>
    </button>
{% endblock %}
