doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
        types:
            Registration: App\Doctrine\DBAL\Type\RegistrationEnumType
            IdentityKind: App\Doctrine\DBAL\Type\IdentityKindEnumType
            RegistrationForm: App\Doctrine\DBAL\Type\RegistrationFormEnumType
            Kinship: App\Doctrine\DBAL\Type\KinshipEnumType
            GardianKind: App\Doctrine\DBAL\Type\GardianKindEnumType
            OrderStatus: App\Doctrine\DBAL\Type\OrderStatusEnumType
            Practice: App\Doctrine\DBAL\Type\PracticeEnumType
            Availability: App\Doctrine\DBAL\Type\AvailabilityEnumType
            Evaluation: App\Doctrine\DBAL\Type\EvaluationEnumType
            ContentKind: App\Doctrine\DBAL\Type\ContentKindEnumType
            Permission: App\Doctrine\DBAL\Type\PermissionEnumType
            LicenceState: App\Doctrine\DBAL\Type\LicenceStateEnumType
            LicenceCategory: App\Doctrine\DBAL\Type\LicenceCategoryEnumType
            LicenceMembership: App\Doctrine\DBAL\Type\LicenceMembershipEnumType
            DisplayMode: App\Doctrine\DBAL\Type\DisplayModeEnumType
            AgreementKind: App\Doctrine\DBAL\Type\AgreementKindEnumType
            OrderLineState: App\Doctrine\DBAL\Type\OrderLineStateEnumType
        mapping_types:
            enum: string
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        enable_native_lazy_objects: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
