twig:
    file_name_pattern: '*.twig'
    form_themes:
        - 'form/custom_check_widget.html.twig'
        - 'form/custom_simple_check_row.html.twig'
        - 'form/custom_errors_widget.html.twig'
        - 'form/custom_switch_row.html.twig'
        - 'form/custom_switch_permission.html.twig'
        - 'form/custom_file_row.html.twig'
        - 'form/collection_file_row.html.twig'
        - 'form/custom_month_and_hour_row.html.twig'
        - 'form/custom_thumbnail_row.html.twig'
        - 'form/money_widget.html.twig'
        - 'form/checkbox_row.html.twig'
        - 'form/ckeditor_row.html.twig'
        - 'form/btn_radio_row.html.twig'

    globals:
        menu_service: '@App\Service\MenuService'
        menu_admin_service: '@App\Service\MenuAdminService'
        parameter_service: '@App\Service\ParameterService'
        background_service: '@App\Service\BackgroundService'
        keywords: '@App\Service\ReplaceKeywordsService'

    paths:
        # point this wherever your css files live
        '%kernel.project_dir%/assets/styles': styles

when@test:
    twig:
        strict_variables: true
