{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_documentation_delete', {'documentation' : documentation.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer une documentation {{ documentation.name }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer la documentation {{ documentation.name}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
