
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/sources/
/data/tmp/
/public/uploads/
/public/images/
/public/files/
/public/registration_certificate/
/public/registration_certificate/Attestation_d_inscription.pdf
data/cmd/doctrinemigrationmigrate-n
data/cmd/geoconvertbirthplace
data/cmd/geoloaddata
data/cmd/geoconverttown
data/Attestation_d_adulte_accompaganteur.pdf
data/Attestation_d_inscription.pdf
data/documentation
data/licences
###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
