
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/sources/
/data/tmp/
/public/uploads/
/public/images/
/public/files/
/public/registration_certificate/
/public/registration_certificate/Attestation_d_inscription.pdf
data/cmd/doctrinemigrationmigrate-n
data/cmd/geoconvertbirthplace
data/cmd/geoloaddata
data/cmd/geoconverttown
