{% set approval = form.children.approvals %}
{% set replaces =
    {
        '{{ bouton_retour_domicile }}': form_widget(approval[1]),
        '{{ bouton_droit_image }}': form_widget(approval[0])
    }
%}


<div class="container">{{ current.content |replace(replaces) | raw}}</div>
