{% set licences = form.children.licences %}
{% set replaces =
    {
        '{{ boutons_radio_assurance }}': form_widget(licences[0]),
    }
%}

<div class="container">{{ current.content|replace(replaces) | raw}}</div>

<br>



        

