{% set licences = form.children.licences %}

{% for content in current.contents %}
    <div class="container">{{ content.content | raw}}</div>
    {# {{ form_widget(licences[0].coverage) }} #}
    {% for  child in licences[0].coverage %}
            <div class="inputGroup check">
                {{ form_widget(child)}}
                {{ form_label(child)}}
            </div>
        {% endfor %}

    <br>
{% endfor %}

        

