{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="/css/verticalStepProgress.css">
{% endblock %}
{% block body %}
    <div class="wrapper background-ligth wrapper-full-width col-3">
        <div class="wrapper-title">
            <h2>Bulletin d'inscription</h2>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url(../../images/clip_image001_0001.jpg)"></div>
            <div class="card-body">
                <h3>Je suis un nouvel adhérent</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{{ path('registration_form', {'step': 1}) }}"><i class="fas fa-chevron-circle-right"></i> S'inscrire</a>
            </div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url(../../images/compostelle1-\(54\).jpg)"></div>
            <div class="card-body">
                <h3>Je suis déjà adhérent au club</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{{ path('user_registration_form', {'step': 1}) }}"><i class="fas fa-chevron-circle-right"></i> S'inscrire</a>
            </div>
        </div>
    </div>
{% endblock %}
