{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-blue background-color col-content">
        {{ include('component/carrousel.html.twig') }}
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal">
                <h1>Les tarifs</h1>
                {% include'registration/membership_fee.html.twig' with {'membership_fee_content': content.content} %}
            </div>
        </div>
    </div>
{% endblock %}
