{% extends 'base.html.twig' %}

{% block title %}Mon carnet de progession{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Mon carnet de progession</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-white">
                <div class="row">
                    <div class="col-md-6 form-group" {{ vue_component('ChoiceFilterType', {'className': 'skill_category', 'field': 'category', 'placeholder': "Séléctionner une catégorie"}) }} ></div>
                    <div class="col-md-6 form-group" {{ vue_component('ChoiceFilterType', {'className': 'level', 'field': 'level', 'placeholder': "Séléctionner un niveau"}) }}></div>
                </div>
                <ul class="list-group" {{ vue_component('UserSkill', {'user': user.id}) }}>
                    <div class="loader-container">
                        <div class="loader"></div>
                    </div>
                </ul> 
            </div>
        </div>
    </div>
{% endblock %}
