<div class="dropdown-notifications block">
    <div class="block-title">
        <h2>Notifications</h2>
        <div class="tools">
            <a class="btn btn-xs btn-default" title="Fermer"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
    <ul>
        {% if notifications is defined %}
            {% for notification in notifications %}
                <li class="notification-body">
                    <div class="notification-text">{{ notification.title}}</div>
                    <div class="notification-footer">
                        {% if notification.modalLink %}
                            <a class="btn btn-secondary btn-xs" data-turbo-frame="modal_content" href="{{ notification.modalLink }}">Consulter</a>
                        {% else %}
                            <a class="btn btn-secondary btn-xs" href="{{ notification.url }}">{{ notification.labelButton}}</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>