<turbo-frame id="directory_size">
    <span>Espace disque </span>
    <div class="d-flex flex-column justify-content-center">
        <progress class="progress {{ color }}" max=100 value="{{ value }}"></progress>
        <div class="progress-label">{{ text }}</div>
    </div>
</turbo-frame>