{% extends 'base_modal_stimulus.html.twig' %}
{% block modal_title %}{{ title }}{% endblock %}
{% block body %}
    {{ form_row(form.name)}}
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="flex justify-center text-white bg-primary"
    >
    <div class="flex gap-3 items-center ">
        {{ ux_icon(icon, {class: 'size-6'}) }} {{ btn_label}}
    </div>
    </button>
{% endblock %}
