/*bases*/
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 0em;
}
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
h1:last-child,
h2:flast-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
    margin-bottom: 0;
}
p,
ul,
ol,
dl,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
li {
    list-style-position: inside;
    list-style: none;
}
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}
aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
    box-sizing: border-box;
}
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}
img {
    width: auto;
    height: auto;
    vertical-align: middle;
}
img[src=""] {
    display: none;
}


a img { border: 0; }
a {text-decoration: none;}
a.phone {
    color: var(--backgroud-color);
    font-weight: 600;
}
body > script {display: none !important;}

/*styles*/
@keyframes flash {
    0% {opacity:0;}
	20% {opacity:1;}
    80% {opacity:1;}
  100% {opacity:0;}
}
@-webkit-keyframes flash {
    0% {opacity:0;}
	20% {opacity:1;}
    80% {opacity:1;}
  100% {opacity:0;}
}

:root {
    --primary-color: #f89c37;
    --primary-color-darker: #e6841b;
    --success-color : #4caf50;
    --danger-color : #d9534f;
    --green-color:#009688;
    --blue-color: #2196f3;
    --red-color: #ff5722;
    --background-color: #000;
    --light-color: #efefef;
    --light-color-darker: #d7d7d7;
    --clear-color: rgba(192,192,192,.80);
    --nav-height: 49px;
    --gray-color: rgb(100,100,100);
    --white-color: #fff;
    --gap:25px;
}
.alert-danger {
    color: var(--danger-color);
}
.background-color .alert-danger {
    background-color: var(--danger-color);
    color: var(--white-color);
    padding: 10px;
    margin-bottom: 15px;
}
.alert-danger::before, 
.success:not(.form-group, .form-group-inline)::before {
    content: '\f057';
    color: var(--danger-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.background-color .alert-danger::before {
    color: var(--white-color);
}
.home.success::before, .home.alert-danger::before {
    content: '\f015';
    color: var(--white-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border: 2px solid var(--white-color);
    margin: -10px;
}
.person.person-check::before,
.person.person-question::before,
.person.person-xmark::before {
    content: '\e542';
    color: var(--white-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border: 2px solid var(--white-color);
    margin: -10px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.person.person-question::before {
    content: '\e542';
    background-color: var(--primary-color);
}
.person.person-check::before {
    content: '\e53e';
    background-color: var(--success-color);
}
.person.person-xmark::before {
    content: '\e543';
    background-color: var(--danger-color);
}
.home.success::before {
    background-color: var(--success-color);
}
.home.alert-danger::before {
    background-color: var(--danger-color);
}
.alert-black {
    color: var(--background-color);
}
.alert-black::before {
    content: '\f057';
    color: var(--background-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.alert-warning:not(.form-group-inline, .form-group), h2.alert-danger, .alert-warning-color {
    color: var(--primary-color-darker);
}
.alert-warning:not(.form-group-inline, .form-group)::before {
    content: '\f06a';
    color: var(--primary-color-darker);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.fas.fa-check-circle {
    font-size: 20px;
}
.success:not(.form-group-inline, .form-group) {
    color: var(--success-color);
}
.success:not(.form-group-inline, .form-group, .home)::before {
    content: '\f058';
    color: var(--success-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.form-group-inline.success::after, .form-group.success::after,
.form-group-inline.alert-warning::after, .form-group.alert-warning::after {
    content: '';
    background-color: var(--success-color);
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-group-inline.success::after, .form-group.success::after{
    background-color: var(--success-color);
}
.form-group-inline.alert-warning::after, .form-group.alert-warning::after {
    background-color: var(--primary-color-darker);
}
.form-group-inline.success, .form-group-inline.alert-warning, .form-group.success, .form-group.alert-warning {
    position: relative;
}
.success-test {
    color: var(--blue-color);
}
.success-test::before {
    content: '\f058';
    color: var(--blue-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.btn {
    padding: 12px 20px;
    border: none;
    display: inline-block;
    color: var(--background-color);
    border-radius: unset;
    line-height: initial;
    box-sizing: border-box;
}
.btn:hover {
    cursor: pointer;
}
.btn-xs {
    padding: 2px 3px;
    min-height: 100%;
}
.btn-xl {
    padding: 15px 20px;
}
.btn-xxl, .btn-xxxl {
    margin: 40px auto;
    display: block;
    width: max-content;
    padding: 20px 85px 20px 20px;
    position: relative;
}
.btn-xxxl {
    line-height: 24px;
}
.btn-100 {
    margin: 10px auto 20px auto;
    width: 100%;
    text-align: center;
}
.btn-xxl::after, .btn-xxxl::after {
    content: '\f56d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 28px;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: var(--background-color);
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    top: 5px;
    right: 25px;
}
.btn-xxxl::after {
    top: 20px;
}
.btn-primary , .ui-state-default a.btn-primary{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
}
.btn-secondary {
    color: var(--primary-color-darker);
    background-color: var(--white-color);
    border: 2px solid var(--primary-color-darker);
}
.btn-red {
    color: var(--red-color);
    background-color: var(--white-color);
    border: 2px solid var(--red-color);
}
.btn-success {
    color: var(--white-color);
    background-color: var(--success-color);
    border: 2px solid var(--success-color);
}
.btn-danger, .ui-state-default a.btn-danger{
    background-color: var(--danger-color);
    color: var(--white-color);
    border: 2px solid var(--danger-color);
}
.btn-light {
    background-color: var(--light-color);
    color: var(--backgroud-color);
    border: 2px solid var(--light-color);
}
.btn-ico {
    font-size: 28px;
    padding: 5px 8px;
    min-width: 48px;
    text-align: center;
}
.btn-pencil {
    position: relative;
}

.btn-pencil::after {
    content: '\f303';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    color: var(--background-color);
    top: -5px;
    right: -5px;
}
.btn-ico:not(:last-child) {
    /* margin-right: 15px; */
}
.btn-list {
    display: block;
    padding: 15px;
    /* margin: 0 10px; */
    color: var(--background-color);
    box-sizing: border-box;
}
nav > ul > li > div.nav-bar-title > a.btn-logger {
    background-color: var(--background-color);
    color: var(--primary-color);
}
.btn-full-width {
    width: 100%;
    text-align: center;
}

.card .tools .btn-danger {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 0;
    background: var(--white-color);
    color: var(--danger-color);
    border: none;
    font-size: 20px;
    line-height: 20px;
}
.success-ico {
    font-size: 36px;
    padding: 5px 8px;
    min-width: 45px;
    text-align: center;
    display: inline-block;
    color: var(--success-color);
}
.success-ico.xl-ico i {
    font-size: 36px;
}
.float-left + .float-right.btn-xl {
    margin-top: -25px;
}
.xs-display {
    display: none;
}
.float-right.btn + .float-right.btn {
    margin-right: 25px;
}
.flashes {
    position: absolute;
    top: 50px;
    right: 10%;
    max-width: 100%;
    color: var(--white-color);
    opacity: 0;
    font-size: 18px;
    -webkit-animation: flash 10s;
    animation: flash 10s;
    z-index: 9999;
}
.flashes > div {
    padding: 12px 20px;
    
}
.flash-success {
    background-color: var(--primary-color);
}
.flash-danger {
    color: var(--danger-color);
}
body {
    background-color: var(--light-color);
    color: var(--background-color);
    font-family: Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    font-size: 16px;
    user-select: none;
}
main:not(.admin) {
    position: relative;
}
.paginator > ul > li {
    display: inline-block;
}
.paginator ul > li > a{
    padding: 4px;
}
.paginator > ul::before {
    content: '';
    height: 1px;
    display: block;
    background-color: var(--clear-color);
    margin-top: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-collection {
    margin-bottom: 5px;
}

.form-group > input:not([type="radio"]), .form-group-inline > input, .form-group-inline > select, .form-group > textarea, .form-group > select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: none;
    background: var(--light-color);
    padding: 5px;
}
.background-ligth .form-group > textarea {
    background: var(--white-color);
}
.form-group > input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 30px;
    border-radius: 4px;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.form-group > input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    position: relative;
}
.form-group > input[type="checkbox"]:checked::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f00c';
    display: block;
    color: var(--white-color);
    font-size: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}
.form-group > input[type="checkbox"] + label {
    vertical-align: middle;
    line-height: 30px;
}
.form-group > input.disease-active {
    /* width: unset;
    height: unset; */
}

.form-group > textarea {
    height: 100px;
}
.form-group > input.widget-inline {
    display: inline-block;
    width: 25%;
}
.form-group > .widget-inline.disease-active {
    width: 20px;
}
.form-group > .widget-inline.disease-label {
    display: inline-block;
    width: calc(25% + 60px);
    margin-left: 20px;
}
.form-group > .widget-inline.widget-curent-treatment {
    width: calc(50% + 4px);
}
.form-group > .widget-inline.disease-label.disease-label-other {
    width: 56px;
}
.form-group-inline {
    display: inline-block;
    width: calc(50% - 3px);
    box-sizing: border-box;
}
.form-group-inline.full-width {
    width: 100%;
}
.form-group f.orm-group-inline:not(:first-child) {
    margin-left: 50px;
}
.form-group-small {
    width: 100px;
}
.form-group-medium-width {
    width: 100%;
    margin: unset;
    padding: 5% 20%;
    box-sizing: border-box;
}
.hidden , .form-group-inline.hidden {
    display: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.disabled {
    pointer-events: none;
    background-color: var(--light-color);
}
.inputGroup {
    background-color: var(--white-color);
    display: inline-block;
    width: calc(33% - 2px);
    margin: 10px 0;
    position: relative;
}
.inputGroup label {
    padding: 12px 30px;
    /* width: 70%; */
    display: block;
    text-align: left;
    color: var(--gray-color);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    border: 2px solid var(--light-color-darker);
}
.inputGroup.long {
    width: 100%;
}
.inputGroup.long label {
    width: 70%;
}
.inputGroup label:before {
    width: 12px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: var(--primary-color-darker);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup.check label:after {
    content: '\2714';
}
.inputGroup.ballot label:after {
    content: '\2718';
}
.inputGroup label:after {
    width: 32px;
    height: 32px;

    border: 2px solid var(--light-color-darker);
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: var(--white-color);
}

.inputGroup input:checked ~ label {
      color: #fff;
}
.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    background-color: var(--background-color);
    border-color: var(--background-color);
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}
span.select2-selection.select2-selection--single {
    height: 32px;
}
input[type="file"] {
    opacity: 0;
}
.required:not(.value .required, .check .required, .ballot .required, .radio-group .required, [type="radio"] + .required)::after {
    content: ' *';
}
.badge {
    display: inline-block;
    border-radius: 50%;
    min-width: 45px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    color: var(--gray-color);
    line-height: 45px;
    font-size: 18px;
}
.badge.warning {
    /* position: absolute; */
    background-color: var(--primary-color);
    color: var(--white-color);
    min-width: 30px;
    height: 30px;
    line-height: 26px;
    top: -5px;
    right: -15px;
    z-index: 3;
}
.badge.badge-info {
    background-color: var(--primary-color);
    color: var(--white-color);
    min-width: 30px;
    height: 30px;
    line-height: 24px;
    padding: 3px;
    border-radius: 15px;
}
.nav-bar {
    display: none;
}
.filters input {
    padding: 10px;
}
.filters span b {
    color: var(--primary-color-darker);
}

span.select2-selection.select2-selection--single {
    height: 32px;
}
.filters .select2-container--default .select2-selection--single,
.filters .select2-container--default .select2-selection--multiple {
    background-color: var(--light-color);
}
.filters .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #75777d;
}
.filters > div {
    padding: 5px;
}
.filters {
    padding: 20px 0;
    box-sizing: border-box;
}
.row.filters {
    padding: 20px;
}
.filters > form> ul > li {
    display: inline-block;
    vertical-align: middle;
}
.col-1, .col-2, .col-3, .col-4, .col-2-1, .col-1-3 , .col-2-3, .col-content, .col-6, .col-list, .grid-background {
    display: grid;
    grid-auto-rows: max-content;
}
.col-1, .col-2, .col-3, .col-4, .col-2-1, .col-1-3 , .col-2-3, .col-6 {
    gap: 50px;
}
.col-no-gap {
    gap: unset;
}
.wrapper-full.col-1 {
    max-width: 1000px;
    box-sizing: border-box;
}
.bike-rides-container.col-1 {
    gap: 25px;
}
.col-1 {
    grid-template-columns: 1fr;
}
.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.col-content {
    grid-template-columns: 4fr 5fr;
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.col-6 {
    grid-template-columns: repeat(6, 1fr);
}
.col-2-1 {
    grid-template-columns: 2fr 1fr;
}
.col-1-3 {
    grid-template-columns: 1fr 3fr;
}
.col-2-3 {
    grid-template-columns: 2fr 3fr;
}
.col-list {
    grid-template-columns: auto 45px;
    gap: 5px;
    position: relative;
}
.col-list.col-1md-btn {
    grid-template-columns: auto 105px;
}
.col-list.col-list-2btn {
    grid-template-columns: auto 45px 45px;
}
.col-list.col-1md-1sx-btn {
    grid-template-columns: auto 105px 45px;
}
.col-list .btn, .success-ico.xl-ico {
    height: 100%;
    padding: unset;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-background {
    grid-template-columns: repeat(5, 1fr);
}
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.row.row-list {
    position: relative;
    min-height: 45px;
}
.row .align-self-center {
    align-self: center;
}
.row.row-align-top {
    align-items: unset;
}
.registration .row {
    line-height: unset;
}
.row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12 {
    box-sizing: border-box;
} 
.row .col-md-1:not(:last-child), .row .col-md-2:not(:last-child), .row .col-md-3:not(:last-child), .row .col-md-4:not(:last-child), .row .col-md-5:not(:last-child), .row .col-md-6:not(:last-child), .row .col-md-7:not(:last-child), .row .col-md-8:not(:last-child), .row .col-md-9:not(:last-child), .row .col-md-10:not(:last-child), .row .col-md-11:not(:last-child), .row .col-md-12:not(:last-child) {
    padding-right: 5px;
} 
.row.padding-10 .col-md-1, .row.padding-10 .col-md-2, .row.padding-10 .col-md-3, .row.padding-10 .col-md-4, .row.padding-10 .col-md-5, .row.padding-10 .col-md-6, .row.padding-10 .col-md-7, .row.padding-10 .col-md-8, .row.padding-10 .col-md-9, .row.padding-10 .col-md-10, .row.padding-10 .col-md-11, .row.padding-10 .col-md-12, .padding-10 {
    padding: 0 10px;
} 
.row.padding-top-5 .col-md-1, .row.padding-top-5 .col-md-2, .row.padding-top-5 .col-md-3, .row.padding-top-5 .col-md-4, .row.padding-top-5 .col-md-5, .row.padding-top-5 .col-md-6, .row.padding-top-5 .col-md-7, .row.padding-top-5 .col-md-8, .row.padding-top-5 .col-md-9, .row.padding-top-5 .col-md-10, .row.padding-top-5 .col-md-11, .row.padding-top-5 .col-md-12, .padding-top-5 {
    padding-top: 5px;
} 
.row.list-dropdown > .col-md-1, .row.list-dropdown > .col-md-2, .row.list-dropdown > .col-md-3, .row.list-dropdown > .col-md-4, .row.list-dropdown > .col-md-5, .row.list-dropdown > .col-md-6, .row.list-dropdown > .col-md-7, .row.list-dropdown > .col-md-8, .row.list-dropdown > .col-md-9, .row.list-dropdown > .col-md-10, .row.list-dropdown > .col-md-11, .row.list-dropdown > .col-md-12 {
    padding: 10px;
}
.row .col-md-1 {
    width: 8.33333%;
}
.row .col-md-2 {
    width: 16.6666%;
}
.row .col-md-3 {
    width: 25%;
}
.row .col-md-4 {
    width: 33%;
}
.row .col-md-5 {
    width: 41.6666%;
}
.row .col-md-6 {
    width: 50%;
}
.row .col-md-7 {
    width: 58.3333%;
}
.row .col-md-8 {
    width: 66.6666%;
}
.row .col-md-9 {
    width: 75%;
}
.row .col-md-10 {
    width: 83.3333%;
}
.row .col-md-11 {
    width: 91.6666%;
}
.row .col-md-12 {
    width: 100%;
}
.row > .col-md-3:not(:first-child) {
    padding-left: 25px;
}
.marging-bottom-20 {
    margin-bottom: 20px;
}
.align-center {
    text-align: center;
}
.align-right, .align-right-md {
    text-align: right;
}
.info {
    color: var(--primary-color-darker);
    font-style: oblique;
    font-weight: 700;
}
.block.slidable {
    margin-top: 40px;
    transition: margin-top 1s ease-out;
}
.block {
    transition: margin-top 1s ease-in;
}
.block .block-title,
.list-dropdown,
.nav-group ul > li,
.wrapper .wappper-subtitle {
    position: relative;
}
.list-dropdown {
    background-color: var(--white-color);
    min-height: 45px;
}

.list-dropdown > a {
    background-color: var(--light-color);
    padding: 15px;
    color: var(--backgroud-color);
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.list-item {
    padding: 15px;
}
.wrapper .wrapper-title {
    position: relative;
    padding: 10px 20px;
}
.wrapper .wrapper-title h1 {
    width: calc(100% - 50px);
}
.wrapper .wrapper-body {
    padding: 20px;
    box-sizing: border-box;
}
.wrapper .wrapper-body h2{
    margin-bottom: 5px;
    font-size: 20px;
}
.admin .wrapper .wrapper-title {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.block .block-body h2 {
    font-size: 18px;
    color: var(--primary-color-darker);
}
.wrapper .wrapper-title .tools,
.nav-bar-title .tools,
.block-title .tools {
    position: absolute;
    top: 0;
    right: 0;
}
.wrapper .block-title .tools .btn {
    padding:  unset;
    font-size: 20px;
}
.wrapper-title .badge.badge-info {
    background-color: var(--white-color);
    color: var(--primary-color);
}
/* .wrapper .block:not(.block-flash) .block-title::after, */
 .separator {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--white-color);
    display: block;
    margin: 10px 0;
}
.wrapper-footer {
    min-height: 50px;
    margin: 20px;
    width: calc(100% - 40px);
}
.block-footer::after,
.wrapper-footer::after {
    content: '';
    clear: both;
}
.block-flash .tools {
    top: -10px;
}
.block-body > ul {
    /* margin: 15px; */
}
.nav-group ul > li:not(:first-child)::after, 
.row-list::after,
.col-list:not(:first-child) .btn::after,
.col-list:not(:first-child) .list-item::after,
.btn-list::after,
.col-list:not(:first-child) .list-dropdown::after,
.list-dropdown:not(:first-child)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    display: block;
    background-color: var(--white-color);

}
.nav-group ul > li:not(:first-child)::after,
.col-list:not(:first-child) .list-item::after,
.row-list.light-separator:not(:first-child)::after,
.list-dropdown:not(:first-child).light-separator::after {
    background-color: var(--light-color);
    z-index: 5;
}
.background-color.block-small {
    max-width: 400px;
    margin: auto;
}
.block-flash .block-title{
    position: relative;
    margin: unset;
    padding: 0 40px 0 20px;
    cursor: pointer;
}
.block.block-flash.background-color {
    padding: 10px;
}
.block-flash h2 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
nav.nav-tab a {
    padding: 10px;
    color: var(--gray-color);
    border-top: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-radius: 5px 5px 0 0;
    line-height: 30px;
    height: 30px;
    background-color: var(--white-color);
    z-index: 2;
}
nav.nav-tab a:hover, nav.nav-tab a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}
nav.nav-tab {
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    margin-bottom: 20px;
    margin: 20px 20px 0 20px;
    position: relative;
}
nav.nav-tab::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--gray-color);
    bottom: 0px;
    z-index: 1;
}
.background-color {
    margin: unset;
    width: 100%;
    box-sizing: border-box;
}
.background-primary {
    background-color: var(--primary-color);
}
.background-green {
    background-color: var(--green-color);
}
.background-blue {
    background-color: var(--blue-color);
}
.background-red {
    background-color: var(--red-color);
}
.background-color .wrapper-img, .card-img {
    width: 100%;
}
.card-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-color .wrapper-content {
    padding: 10%;
    color: var(--white-color);
}
.background-color h1, .background-color h2, .background-color h3, .background-color {
    color: var(--white-color);
}
.background-color h2, .background-color h3{
    margin-bottom: 10px;
}
.background-color a:not(.btn) {
    color: var(--white-color);
    font-size: 700;
    text-decoration: underline;
}
.background-ligth h1, .background-ligth h2, .background-clear h2 {
    color: var(--background-color);
}
.background-ligth {
    background-color: var(--light-color);
    box-sizing: border-box;
    color: var(--background-color);
}
.background-clear {
    background-color: var(--clear-color);
    box-sizing: border-box;
    color: var(--background-color);
}
.block.background-ligth, .block.background-clear , .block.background-color {
    padding: 25px;
}
.block:not(:first-child) {
    margin-top: var(--gap);
}
h3 + ul.block.background-ligth {
    margin-top: 5px;
}
.col-2 .block {
    margin-top: unset;
}
.row-list .background-ligth {
    padding: 5px;
    min-height: 45px;
}
.background-white {
    background-color: var(--white-color);
    box-sizing: border-box;
    padding: 25px;
    color: var(--background-color);
}
.background-gray {
    background-color: var(--gray-color);
    box-sizing: border-box;
    padding: 25px;
}
.background-color .table-border,.background-color .table-border th, .background-color .table-border td {
    border: 2px solid var(--white-color);
}
.block.no-padding, .row .no-padding {
    padding: 0;
}
.row .no-padding-vertical {
    padding: 0 5px;
}
.row.padding-vertical-10 {
    padding: 10px 0;
}
.thumbnail {
    height: 120px;
    width: 80px;
    overflow: hidden;
}
.alert-mode {
    background-color: var(--danger-color);
    color: var(--white-color);
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.value input + .value label {
    margin-left: 10px;
}
.value {
    width: 160px;
    text-align: center;
    height: 22px;
}
.value input, .value label {
    display: inline-block;
    vertical-align: top;
}
.value input {
    width: 10px;
}
.value label {
    width: 40px;
}

.nav-group .block-title .tools,
.wrapper .wrapper-title .tools {
    top: 8px;
}

.nav-group .block-title .btn,
.wrapper .wrapper-title .btn {
    color: var(--white-color);
}


.card {
    position: relative;
    word-wrap: break-word;
    color: var(--background-color);
    background-clip: border-box;
    border-radius: .25rem;
    background-color: var(--white-color);
    text-align: center;
}
.card.card-link {
    background-color: var(--primary-color);
}
.card.card-link a {
    color: var(--white-color);
}
.card-img {
    width: 100%;
    display: block;
    border-style: none;
    background-color: var(--white-color);
}
.card-link .card-img {
    height: 150px;
    background-size: 90% auto;
}
.card-background {
    width: 150px;
    margin: 5px;
    border: 2px solid var(--light-color-darker);
}
.card-background .card-img {
    height: 100px;
    background-size: 90% auto;
}
.card-product .card-img {
    height: 250px;
}
.card-product .card-body {
    font-size: 13px;
    text-align: left;
    color: var(--background-color);
    font-weight: 700;
}
.card-product .price {
    color: var(--primary-color-darker);
    font-size: 16px;
}
.card-product .throughed-price {
    font-size: 12px;
}
.card-img {
    height: 220px;
}
.card .card-title h2 {
    font-size: 17px;
    color: var(--primary-color-darker);
    margin-top: 15px;
}
.card-footer {
    margin-bottom: 15px;
}
.card-body {
    padding: 15px;
    /* height: calc(100% - 150px); */
}
.card-background .card-body {
    padding: 5px;
    font-size: 12px;
    background-color: var(--light-color);
}
.card-bike-ride .card-body p {
    text-align: center;
}
.card h3 {
    font-weight: normal;
}

@media screen and (min-width: 800px) {
    .block.block-flash.background-color .block-title::after {
        box-sizing: border-box;
    }
    .block.block-flash.background-color .block-title::before,
    .block.block-flash.background-color .block-title::after {
        content: '';
        position: absolute;
        left: -10px;
        width: calc(100% + 20px);
        height: 20px;
    }
    .block.block-flash.background-color .block-title::before {
        top: -20px;
    }
    .block.block-flash.background-color .block-title::after {
        bottom: -20px;
    }
    .block.block-flash.background-color .block-body {
        max-height: 0;
        transition: max-height 0.25s ease-out;
        overflow: hidden;
        position: relative;
    }
    .block.block-flash.background-color .block-title:hover ~ .block-body,
    .block.block-flash.background-color .block-body:hover {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
        padding: 0 10px 10px 10px;
    }
    .nav-bar-xs .tools {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .xs-display {
        display: initial;
    }
    .nav-bar {
        display: block;
        background-color: var(--background-color);
        text-align: center;
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 99;
    }
    .nav-bar > * {
        vertical-align: middle;
    }
    .nav-bar .btn {
        margin-right: unset;
        position: absolute;
        left: 0;
    }
    .nav-bar .btn::before {
        content: '\f0c9';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 28px;
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: var(--white-color);
        text-align: center;
        top: 0px;
        left: 0px;
    }
    .nav-bar .btn.nav-hide::before {
        content: '\f00d';
    }
    .nav-bar img {
        height: 45px;
    }
    ul.dropdown-menu {
        display: block;
        position: unset;
        background-color: var(--white-color);
    }
    ul.dropdown-menu > li > a {
        color: var(--background-color);
    }
    li.nav-bar-xs::after {
        content: '';
        height: 2px;
        width: 100%;
        background-color: var(--white-color);
        display: block;
    }
    .nav-bar-xs .block-body li > a > span {
        margin-left: 20px;
    }
    .header {
        display: none;
    }
    main {
        display: block;
        max-width: 100%;
        overflow: hidden;
    }
    main > .wrapper {
        margin-top: 50px;
    }
    nav:not(.paginator, nav.nav-tab) {
        position: absolute;
        top: 50px;
        left: -100vw;
        transition: all 1s ease;
        width: 100vw;
        height: 100vh;
        background-color: var(--light-color);
        z-index: 3;
    }
    nav:not(.paginator, nav.nav-tab).nav-active {
        left: 0;
    }
    nav.nav-tab, nav.nav-tab a {
        display: block;
    }

    .form-group-inline {
        width: 100%;
    }
    .form-group-inline:not(:first-child) {
        margin-left: unset;
    }
    .inputGroup {
        width: 100%;
    }
    .inputGroup label {
        padding: 12px 70px 12px 12px;
        width: 100%;
        box-sizing: border-box;
    }
    .btn-xxl {
        width: 100%;
        height: 65px;
        line-height: 45px;
    }
    .col-4, .col-2, .col-1fr-3fr, .col-3, .col-content, .col-1-3 {
        grid-template-columns: 1fr;
        padding: unset;
        gap: 20px;
    }
    .col-list {
        /* grid-template-columns: auto 140px; */
    }
    .row {
        line-height: unset;
    }
    .row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12 {
        width: unset;
        padding: 5px;
    } 
    .row > .col-md-3:not(:first-child) {
        padding-left: unset;
    }
    .row .col-xs-1 {
        width: 8.333%;
    }
    .row .col-xs-2 {
        width: 16.666%;
    }
    .row .col-xs-3 {
        width: 25%;
    }
    .row .col-xs-4 {
        width: 33.333%;
    }
    .row .col-xs-5 {
        width: 41.666%;
    }
    .row .col-xs-6 {
        width: 50%;
    }
    .row .col-xs-7 {
        width: 58.333%;
    }
    .row .col-xs-8 {
        width: 66.666%;
    }
    .row .col-xs-9 {
        width: 75%;
    }
    .row .col-xs-10 {
        width: 83.333%;
    }
    .row .col-xs-11 {
        width: 91.666%;
    }
    .row .col-xs-12 {
        padding-top: 10px;
        width: 100%;
    }
    .row.padding-10 .col-xs-12{
        padding: 10px 10px;
    } 
    .bike-rides, .filters, .wrapper-home {
        display: block;
    }
    .bike-rides .bike-ride-date:not(:first-child) {
        margin-top: 25px;
    }
    .btn {
        padding: 8px;
    }
    .filters ul > li {
        padding: unset;
    }
    .filters span > b {
        letter-spacing: -0.5px;
    }
    .row.row-list .btn, .row.row-list .background-ligth {
        height: 45px;
    }
    .row.row-list .btn-ico, .row.row-list .one-line {
        line-height: 65px;
    }
    footer li {
        display: block;
        line-height: 30px;
    }
    footer li:not(:first-child) {
        margin-left: unset;
    }
    footer li:not(:first-child)::before {
        display: none;
    }
    .block-body.up, .dropdown-toggle.up {
        max-height: 0;
        transition: max-height 0.25s ease-out;
        overflow: hidden;
    }
    .block-body.down, .dropdown-toggle.down {
        max-height: 700px;
        transition: max-height 0.25s ease-in;
    }
    .tools.xs-display a.btn.btn-ico {
        padding: 0;
        color: var(--gray-color);
    }
    .block.background-ligth, .block.background-clear, .block.background-color {
        padding: 10px;
    }
    /* .list-dropdown > a {
        padding: 5px;
    } */
    .list-dropdown .row {
        min-height: 45px;
    }
    .align-right-md {
        text-align: unset;
    }
}