/*bases*/
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 0em;
}
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
h1:last-child,
h2:flast-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
    margin-bottom: 0;
}
p,
ul,
ol,
dl,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
li {
    list-style-position: inside;
    list-style: none;
}
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}
aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
    box-sizing: border-box;
}
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}
img {
    width: auto;
    height: auto;
    vertical-align: middle;
}
a img { border: 0; }
a {text-decoration: none;}
body > script {display: none !important;}

/*styles*/
body {
    font-family: Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    font-size: 13px;
    line-height: 16px;
}
main {
    margin: 40px;
}
h1 {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#header h1 {
    width: 530px;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
#header > * {
    vertical-align: middle;
}
.block {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 15px 0px;
}
p {
    text-align: justify;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.table-fixed {
    table-layout: fixed;
 }

 .table-border {
    border: 1px solid var(--background-color);
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table-border th, .table-border td {
    border: 1px solid var(--background-color);
    padding: 1px;
}