.modal.fade {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(150,150,150,.5);
    left: 0px;
    display: block;
}
.modal-dialog {
    position: fixed;
    width: 600px;
    top: -350px;
    left: calc((100% - 600px) /2);
    display: block;
    background-color: var(--background-color);
    z-index: 98;
    border: 1px solid var(--color-element);
    border-radius: 5px;
    transition: top .8s ease;
}
.modal-open {
    top: 50px
}
.modal-header {
    background-color: var(--background-color-element);
    text-align: center;
    z-index: 99;
    position: relative;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--color-element);
    font-size: 18px;
}
.bg-danger {
    background-color: var(--danger-color);
    color: var(--light-color);
}
.bg-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}
.modal-header, .modal-footer, .modal .modal-body {
    padding: 10px;
}
.modal-header button, .modal-footer {
    float: right;
}
.modal-header::after, .modal-footer::after {
    content: "";
    clear: both;
}