nav {
    background-color: var(--light-color);
    width: 100%;
    z-index: 2;
    text-align: center;
    position: relative;
}
nav::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    box-shadow: 0 4px 2px gray;
    bottom: 4px;
    z-index: 3;
}
nav.fixed {
    top: 0;
    left: 0;
    position: fixed;
}

nav > ul > li > a {
    padding: 15px;
    display: block;
    color: var(--background-color);
}
nav > ul > li {
    display: inline-block;
    margin: 0 -4px;
    position: relative;
}
nav > ul> li > a:hover, nav > ul> li > a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}
nav > ul> li:hover  ul {
    display: block;
}
.header:not(.admin) > a.logo {
    position: absolute;
    left: 25px;
    top: 15px;
}
.header:not(.admin) > a.logo img {
    height: 100px;
}
nav:not(.admin) > a.logo {
    position: absolute;
    left: 25px;
    top: 3px;
}
nav:not(.admin) > a.logo img {
    height: 40px;
}
ul.sub-menu {
    display: none;
    /* left: 0; */
    top: var(--nav-height);
    background-color: var(--white-color);
    min-width: 100%;
    text-align: left;
    position: absolute;
    z-index: 3;
    padding: 5px;
    box-sizing: border-box;
}
ul.sub-menu a {
    color: var(--background-color);
    display: inline-block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
ul.sub-menu a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
}
.header .grayscale-container {
    height: 130px;
    width: max-content;
    position: absolute;
    left: calc((100% - 100vw) /2);
}
.grayscale-container img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

}
.header .grayscale-container img {
    margin: auto -2.5px;
    height: 100%;
}
footer {
    background-color: var(--background-color);
    text-align: center;
    color: var(--white-color);
}
footer a {
    color: var(--white-color);
}
footer li {
    display: inline;
    line-height: 50px;
}
footer li:not(:first-child) {
    margin-left: 25px;
}
footer li:not(:first-child)::before {
    content: "|";
    margin-right: 25px;
}
h1 {
    color: var(--light-color);
}
.wrapper .progress-container h1 {
    font-size: 24px;
}
h2 {
    color: var(--primary-color);
    margin-bottom: 5px;
}
h2:not(:first-child), h3:not(:first-child) {
    margin-top: 15px;
}
h4 {
    display: inline;
}
ul.list-outside, .text-2-col ul, .col-content > .wrapper-content > ul > li {
    margin-left: 18px;
}
.list-outside li, .text-2-col ul li, .col-content > .wrapper-content > ul > li  {
    list-style: disc outside;
    margin-top: 8px;
}
p {
    text-align: justify;
}
p + p {
    margin-top: 5px;
}
.wrapper.col-1fr-5fr {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10%;
    margin: 100px 25%;
}
.content-container {
    background-color: var(--white-color);
    padding: 25px;
}
.content-title {
    margin-bottom: 15px;
    display: none;
}
.block-body .container:not(:last-child), .content-container .container:not(:last-child) {
    margin-bottom: 15px;
}
.block-footer:not(:first-child) {
    margin-top: 25px;
    min-height: 35px;
}
.block-footer::after {
    content: '';
    clear: both;
}

.wrapper.min-content {
    width: min-content;
    min-width: 400px;
}
.background-ligth h1 {
    color: var(--background-color);
}
.background-ligth h2 {
    color: var(--primary-color-darker);
}
.background-ligth .btn-primary {
    background-color: var(--primary-color-darker);
}
.card {
    position: relative;
    word-wrap: break-word;
    color: var(--background-color);
    background-clip: border-box;
    border-radius: .25rem;
    background-color: var(--white-color);
    text-align: center;
}
.card.card-link {
    background-color: var(--primary-color);
}
.card.card-link a {
    color: var(--white-color);
}
.card-img {
    width: 100%;
    display: block;
    border-style: none;
    background-color: var(--white-color);
}
.card-link .card-img {
    height: 150px;
    background-size: 90% auto;
}
.card-product .card-img {
    height: 250px;
}
.card-product .card-body {
    font-size: 13px;
    text-align: left;
    color: var(--background-color);
    font-weight: 700;
}
.card-product .price {
    color: var(--primary-color-darker);
    font-size: 16px;
}
.throughed-price {
    color: var(--background-color);
    text-decoration-line: line-through;
}
.card-product .throughed-price {
    font-size: 12px;
}
.card-img {
    height: 220px;
}
.card .card-title h2 {
    font-size: 17px;
    color: var(--primary-color-darker);
    margin-top: 15px;
}
.card-footer {
    margin-bottom: 15px;
}
.card-body {
    padding: 15px;
    /* height: calc(100% - 150px); */
}
.card-event .card-body p {
    text-align: center;
}
.card h3 {
    font-weight: normal;
}
.text-col-2 {
    column-count: 2;
    column-gap: 50px;
}

.qs-sport .value {
    width: 120px;
}
.qs-sport table {
    width: 100%;
    border-collapse: collapse;
}
.qs-sport table:not(:first-child) {
    margin-top: 25px;
}
.qs-sport table th, .qs-sport table td {
    border: 1px solid black;
    padding: 5px
}
.qs-sport .center {
    text-align: center;
}
.qs-sport .title {
    background-color: #c00100;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-color);
}
.qs-sport .alert {
    color: #c00100;
}
.qs-sport h1, .qs-sport h2 {
    color: black;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.wrapper h1, .wrapper.background-color h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
.wrapper h2 {
    font-size: 30px;
    text-shadow: unset;
}
.wrapper .content-footer {
    text-align: center;
    margin-top: 25px;
}
.wrapper-full-width {
    width: 100%;
    margin: unset;
    padding: 5% 10%;
    box-sizing: border-box;
}
.wrapper-medium-width {
    width: 100%;
    margin: unset;
    padding: 5% 20%;
    box-sizing: border-box;
}
.wrapper-small-width {
    width: 100%;
    margin: unset;
    padding: 5% 25%;
    box-sizing: border-box;
}
.wrapper-home {
    display: grid;
    grid-template-areas: "news events"
                         "links events";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 1fr 100px;
    gap: 10%;
    padding-top: 150px;
    padding-bottom: 150px;
}
.wrapper {
    min-height: calc(100vh - 200px);
}
.news-container {
    grid-area: news;
}
.events-container {
    grid-area: events;
}
.links-container {
    grid-area: links;
}
.wrapper .wrapper-title {
    text-align: left;
}
.wrapper .wrapper-title h2 {
    text-shadow: unset;
    font-size: 30px;
}
.wrapper .wrapper-footer {
    overflow: hidden;
}
button[type="submit"] {
    font-size: 16px;
}
.user-picture {
    max-height: 200px;
    margin: 10px;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.table-border {
    border: 2px solid var(--background-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 10px;
}
.table-border th, .table-border td {
    border: 2px solid var(--background-color);
    padding: 5px;
}
.bike-rides {
    display: grid;
    grid-template-columns: 2fr 5fr ;
    row-gap: 25px;
    align-items: center;
}
.bike-rides > div {
    padding: 15px;
    box-sizing: border-box;
    height: 100%;
}
.bike-rides .bike-ride-detail {
    background-color: var(--white-color);
}
.bike-rides .bike-ride-date, .bike-rides .bike-ride-btn{
    background-color: var(--green-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 18px;
}
.item-center > div, .item-center > div::after {
    vertical-align: middle;
    display: inline-block;
    content: '';
    height: 100%;
}
.bike-rides .bike-ride-date.active, .bike-rides .bike-ride-btn, .block-title.bike-ride-date.active {
    background-color: var(--primary-color);
}
.block-title.bike-ride-date.active {
    color: var(--white-color);
    padding: 25px;
    margin: -25px -25px 20px -25px;
}
.block-title.bike-ride-date.active h2 {
    color: var(--white-color);
}
.bike-rides .bike-ride-date.disable {
    background-color: var(--clear-color);
}
.bike-rides .bike-ride-detail.disable, .bike-rides .bike-ride-detail.disable .info {
    color: var(--clear-color);
}
.bike-rides .bike-ride-btn {
    display: none;
}
.full-background {
    background-image: url(../images/20210708_134713.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    /* background-blend-mode: soft-light;
    background-color: rgba(255,255 ,255, 0.3); */
}
.full-background h1 {
    margin-bottom: 100px;
    color: rgba(255,255,255,0.4);
    text-align: left;
    font-size: 75px;
    font-style: oblique;
}
.card-img-only:not(:first-child) {
    margin-top: 25px;
}
.card.card-full-img {
    background-color: var(--white-color);
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
}
.card.card-full-img > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.links-container .card {
    height: 100px;
}
.text-2-col {
    column-count: 2;
    column-gap: 5%;
}
.product-detail .price {
    font-size: 24px;
    font-weight: 700;
    margin: 25px auto;
    color: var(--primary-color-darker);
}
.product-detail .throughed-price {
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .wrapper-medium-width, .wrapper-small-width {
        padding: 5%;
    }
    .card-link .card-img {
        height: 100px;
        background-size: 50% auto;
    }
    .wrapper-content h1 {
        font-size: 40px;
    }
    .content-container form {
        width: calc(100VW - 50px);
    }
    .content-container table {
        font-size: 12px;
    }
    .wrapper-img {
        height: 450px;
    }
    nav > ul > li > a {
        padding: 15px;
        display: block;
        color: var(--background-color);
        background-color: var(--white-color);
    }
    nav > ul> li > a:hover, nav > ul> li > a.active {
        color: var(--white-color);
        background-color: var(--primary-color);
    }
    nav > ul > li {
        display: block;
        margin: unset;
    }
    nav {
        text-align: left;
    }
    .progress-container {
        display: none;
    }
    nav.fixed {
        position: absolute;
        top: 50px;
        left: -100vh;
    }
    .full-background h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .bike-rides .bike-ride-btn {
        display: block;
    }
    .bike-rides .bike-ride-date-btn {
        display: none;
    }
    .events-container, .links-container {
        margin-top: 25px;
    }
}
@media screen and (max-width: 414px) {
    .wrapper-img {
        height: 230px;
    }
}