nav {
    background-color: var(--light-color);
    width: 100%;
    z-index: 2;
    text-align: center;
    position: relative;
}
nav::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    box-shadow: 0 4px 2px gray;
    bottom: 4px;
    z-index: 3;
}
nav.fixed {
    top: 0;
    left: 0;
    position: fixed;
}

nav > ul > li > a {
    padding: 15px;
    display: block;
    color: var(--background-color);
}
nav > ul > li {
    display: inline-block;
    margin: 0 -4px;
}
nav > ul> li > a:hover, nav > ul> li > a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
}
nav > ul> li:hover  ul {
    display: block;
}
nav:not(.admin) img {
    position: absolute;
    left: 25px;
    top: 15px;
}
ul.sub-menu {
    display: none;
    left: 0;
    top: var(--nav-height);
    background-color: var(--gray-color);
    width: 100%;
    text-align: left;
    position: absolute;
    z-index: 3;
}
ul.sub-menu a {
    color: var(--white-color);
    display: inline-block;
    padding: 5px;
}
ul.sub-menu a:hover {
    font-weight: 700;
}
.header-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
}
.header-container .grayscale-container {
    height: 130px;
    width: max-content;
    position: absolute;
    left: calc((100% - 100vw) /2);
}
.grayscale-container img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

}
.header-container .grayscale-container img {
    margin: auto -2.5px;
    height: 100%;
}
h1 {
    color: var(--light-color);
}
h2 {
    color: var(--primary-color);
    margin-bottom: 5px;
}
h2:not(:first-child) {
    margin-top: 15px;
}
p {
    text-align: justify;
}
p + p {
    margin-top: 5px;
}
.wrapper.col-1fr-5fr {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10%;
    margin: 100px 25%;
}
.content-container {
    background-color: var(--white-color);
    padding: 25px;
}
.content-title {
    margin-bottom: 15px;
    display: none;
}
.block-body .container:not(:last-child), .content-container .container:not(:last-child) {
    margin-bottom: 15px;
}
.block-footer {
    margin-top: 25px;
    min-height: 35px;
}
.block-footer::after {
    content: '';
    clear: both;
}
.col-3, .col-2 {
    display: grid;
}
.col-1 {
    max-width: 1000px;
    box-sizing: border-box;
}
.col-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.wrapper.min-content {
    width: min-content;
    min-width: 400px;
}
.background-ligth {
    padding: 25px;
    border-radius: 5px;
    color: var(--background-color);
}
.background-ligth h1 {
    color: var(--background-color);
}
.background-ligth h2 {
    color: var(--primary-color-darker);
}
.background-ligth .btn-primary {
    background-color: var(--primary-color-darker);
}
.col-1fr-3fr {
    display: grid;
    grid-template-columns: 1fr 3fr ;
    column-gap: 50px;
    padding: 5% 10%;
}
.card {
    position: relative;
    word-wrap: break-word;
    background-color: var(--white-color);
    color: var(--background-color);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card a {
    color: var(--white-color);
}
.card-img {
    height: 150px;
    width: 100%;
    display: block;
    border-style: none;
}
.card-footer {
    margin-bottom: 15px;
}
.card-body {
    padding: 15px;
    background-color: var(--primary-color);
    height: calc(100% - 150px);
}
.text-col-2 {
    column-count: 2;
    column-gap: 50px;
}

.qs-sport .value {
    width: 110px;
}
.qs-sport table {
    width: 100%;
    border-collapse: collapse;
}
.qs-sport table:not(:first-child) {
    margin-top: 25px;
}
.qs-sport table th, .qs-sport table td {
    border: 1px solid black;
    padding: 5px
}
.qs-sport .center {
    text-align: center;
}
.qs-sport .title {
    background-color: #c00100;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-color);
}
.qs-sport .alert {
    color: #c00100;
}
.qs-sport h1, .qs-sport h2 {
    color: black;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}
.hidden , .form-group-inline.hidden {
    display: none;
}

.wrapper.background-primary {
    background-color: var(--primary-color);
    margin: unset;
    width: 100%;
    box-sizing: border-box;
}
.wrapper.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.wrapper.background-primary .wrapper-img, .card-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 90% auto;
}
.wrapper.background-primary .wrapper-content {
    padding: 10%;
    color: var(--white-color);
}
.wrapper.background-primary h1, .wrapper.background-primary h2 {
    color: var(--white-color);
}
.wrapper.background-ligth h1, .wrapper.background-ligth h2 {
    color: var(--background-color);
}
.wrapper.background-primary h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
.wrapper.background-primary h2 {
    font-size: 30px;
    text-shadow: unset;
}
.wrapper.background-primary .content-footer {
    text-align: center;
    margin-top: 25px;
}
.wrapper.background-ligth {
    background-color: var(--light-color);
    box-sizing: border-box;
}
.wrapper.background-gray {
    background-color: var(--gray-color);
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
}
.wrapper-full-width {
    width: 100%;
    margin: unset;
}
.wrapper.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: center;
    padding: 5% 15%;
}
.wrapper.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    text-align: center;
    padding: 5% 10%;
}
.wrapper .wrapper-title {
    text-align: left;
}
.wrapper .wrapper-title h2 {
    text-shadow: unset;
    font-size: 30px;
}
.wrapper-content {
    /*width: max-content;*/
}
button[type="submit"] {
    font-size: 16px;
}
.user-picture {
    max-height: 200px;
    margin: 10px;
}
.align-center {
    text-align: center;
}
.table-border {
    border: 2px solid var(--background-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 10px;
}
.table-border th, .table-border td {
    border: 2px solid var(--background-color);
    padding: 5px;
}
.alert-warning {
    color: var(--primary-color-darker);
}
.alert-warning::before {
    content: '\f06a';
    color: var(--primary-color-darker);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}