<ul class="block background-ligth">
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Type de licence : </b></span><span class="col-md-8 col-sx-6">{{ user.lastLicence.type|raw}}</span>
        <span class="col-md-4 col-sx-6"><b>Type d'assurance : </b></span><span class="col-md-8 col-sx-6">{{ user.lastLicence.coverageStr|raw}}</span>
        <span class="col-md-4 col-sx-6"></span><span class="col-md-8 col-sx-6">{{ user.lastLicence.isVae|raw }}</span>
    </li>
</ul>