<ul class="block background-ligth">
    {% for licenceAuthorization in progress.user.lastLicence.authorizations %}
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>{{ licenceAuthorization.title }} :</b></span>
            <span class="col-md-8 col-sx-6">
                <div class="bs-badge rounded-circle border border-white d-flex align-items-center mx-1 align-content-center text-bg-{{ licenceAuthorization.toHtml.color }}">{{ licenceAuthorization.toHtml.icon|raw }}</div>
                {{ licenceAuthorization.toHtml.message|raw }}
             </span>
        </li>
    {% endfor %}
</ul>

