{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-blue background-color col-content">
        <div class="wrapper-img" style="background-image:url(../images/background/{{ media_screen }}/le_club.jpg)"></div>
        <div class="wrapper-content">
            <div class="reveal">{{ content.content | raw}}</div>
        </div>
    </div>
{% endblock %}
