{% extends 'base.html.twig' %}

{% block title %}Gestion des types de randos{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="bg-primary text-white flex">
            <div class="px-3 py-2">
                <h1 class="font-bold text-3xl">Gestion des types de randos</h1>
            </div>
            <div class="ml-auto flex gap-2 items-center">
                <a href="{{ path('admin_bike_rides') }}" class="text-foreground lg:text-muted lg:hover:text-foreground" title="Retour à la liste des randos">{{ ux_icon('lucide:chevron-left', { class: 'w-6 h-6' }) }}</a>
                {% include 'component/dropdown.html.twig' with {'dropdown': settings} %}
            </div>
        </div>
        <div class="wrapper-body">
            <a href="{{ path('admin_bike_ride_type_add') }}" class="btn btn-primary" title="Ajouter un type de sortie"><i class="fas fa-plus"></i> Ajouter un type de sortie</a>
            {% include 'component/pagination.html.twig' with {'margin': 'both'} %} 
            <ul class="list-group">
                {% for bikeRideType in bikeRideTypes %}     
                    <li class="list-group-item">
                        <div>{{ bikeRideType.name }}</div>
                        {% include 'component/dropdown.html.twig' with {'dropdown': bikeRideType.dropdown} %} 
                    </li>
                {% endfor %}
            </ul>
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %} 
        </div>
    </div>
{% endblock %}
