{% extends 'base.html.twig' %}

{% block title %}{{parent()}} index{% endblock %}

{% block body %}
    {% if sections is not empty %}
    <div class="grid">
        {% for section in sections %}
        <div class="block">
            <h2>{{section.title}}</h2>
            {% for chapter in section.chapters %}
                <h3>{{chapter.title}}</h3>
                <ul>
                    {% for article in chapter.articles %}
                    <li>{{article.title}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun article</p>
            {% endfor %}
        </div>
        {% else %}
            <p>Aucun chapitre</p>
        {% endfor %}
    </div>
    {% else %}
        <p>Aucune rubrique</p>
    {% endif %}
{% endblock %}
