{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_tool_confirm_delete_user', {'user':user.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer un adhérent {{ fullname }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer l'utilisateur<br>{{ fullname }} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
