{% extends 'base_pdf.html.twig' %}

{% block body %}
    <div id="header">
        <img src="./logos/logo-pdf.jpg" alt="vvt évasion Ludres" style="height:110px;  width: 120px">
        <h1>Attestation licence sportive annuelle</h1>
        <img src="./images/ffvelo-logo-square-150x150.png" alt="ffvelo"  style="height:50px; width: 50px">
    </div>
    <div class="registration-cerficate">{{ content|raw }}<div>
{% endblock %}