{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-full-width full-background">
        <div class="wrapper-title">
            <h1>Oups !</h1>
        </div>
        <div class="wrapper-body">
            <h2>{{ error.message|raw }}</h2>
        </div>
    </div>
{% endblock %}