{% extends 'base.html.twig' %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Erreur'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-small-width">
        <div class="wrapper-title">
            <h1></h1>
        </div>
        <div class="block background-clear reveal">
            <div class="block-title">
                <h1>Oups !</h1>
                <h2 class="alert-warning">{{ error.message|raw }}</h2>
            </div>
        </div>
    </div>
{% endblock %}