{% extends 'base_modal.html.twig' %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer le message {{ message.label }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer le message {{ message.label}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
