
    <div>
        <h2>Participants</h2>
        {% if sessions is not empty %}
            <ul>
                <li class="row row-list">
                    {% for cluster in sessions.header %}
                    
                        <div class="col-md-4">{{ cluster }}</div>
                    
                    {% endfor %}
                </li>
                {% for row in sessions.rows %}
                    <li class="row row-list">
                    {% for session in row %}
                        <div class="col-md-4">{{ session|raw }}</div>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun participant</p>
        {% endif %}
    </div>

