<div class="nav-bar">
    <a href="" class="btn btn-ico"></a>
    <img src="/logos/logo.jpg" alt="VTT EVASION LUDRES">
    {% include 'navigation/notifications.html.twig' with {'dimention': 'xs'} %}
</div>
