<div data-controller="notifications-trigger">
    <div class="bell-notifications-container {{ dimention }}-display">
        {% if app.user is not null %}
            <div class="bell-notifications hidden" data-notifications-trigger-target="trigger">
                <a class="btn-logger" title="Notifications" data-action="click->notifications-trigger#toggleList">
                    {{ ux_icon('lucide:bell-ring') }}
                </a>
                <span class="badge notifications" data-notifications-trigger-target="badge"></span>
            </div>
        {% endif %}
    </div>
</div>