<turbo-frame id="survey-list" class="block" data-with-skeleton="true">
    {% include "component/_list_skeleton.html.twig" with {title: "Sondages"} %}
    <div class="block [turbo-frame[busy]>&]:hidden transition-opacity duration-200">
        <div class="border border-border rounded-md">
            <div class="bg-slate-300 uppercase px-4 py-2 text-white text-sm">
                Sondages - <span class="">{{ list.paginator.total }}
            </div>
            <ul id="surveys_container">
                {% for item in list.items %}
                    <li class="group relative grid grid-cols-1 lg:grid-cols-2 pr-8 items-center gap-x-4 gap-y-2 p-3 pr-6 text-foreground lg:text-foreground/60 lg:hover:text-foreground bg-slate-100 hover:bg-slate-200 transition-colors border-b border-border">
                        <a href="{{ item.url }}" class="absolute inset-0 z-10 mr-10" title="Voir les réponses" data-turbo-frame="_top">
                            <span class="sr-only">Voir le sondage</span>
                        </a>
                        {% include 'component/_list_item.html.twig' with {
                            item: item, 
                            grid_template_labels: '', 
                            grid_template_badges: 'grid-cols-[1fr_1fr_30px]'
                        } %}                        
                        {% include 'component/_dropdown.html.twig' with {dropdown: item.dropdown} %}
                    </li>
                {% endfor %}
            </ul>
            {% if list.items is empty %}
                {% include "component/_empty.html.twig" with {icon: 'lucide:circle-x', message: 'Aucun sondage'} %}
            {% endif %}
        </div>
        {% include 'component/pagination.html.twig' with {'paginator': list.paginator, 'margin': 'top'} %}
    </div>
</turbo-frame>