{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_survey_delete', {'survey' : survey.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer un vote{{ survey.title }}{% endblock %}
{% block body %}
    <p>Toutes les données relative à ce vote seront supprimées.</p><p>Etes-vous certain de supprimer le vote {{ survey.title }} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = '<i class="fas fa-times"></i> Supprimer' %}
    {{ parent() }}
{% endblock %}
