{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_survey_disable', {'survey' : survey.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Cloturer un vote{{ survey.title }}{% endblock %}
{% block body %}
    <p>Etes-vous certain de clôturer le vote {{ survey.title }} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Clôturer' %}
    {{ parent() }}
{% endblock %}
