{% extends 'base_modal_stimulus.html.twig' %}
{% block modal_title %}Cloturer un vote{% endblock %}
{% block body %}
    <p>Etes-vous certain de clôturer le vote {{ survey.title }} ?</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="flex justify-center text-white bg-{{ type}}"
    >
    <div class="flex gap-3 items-center ">
        {{ ux_icon('lucide:x', {class: 'size-6'}) }} Clôturer
    </div>
    </button>
{% endblock %}
