{% extends 'base.html.twig' %}

{% block title %}Gestion des sondages{% endblock %}

{% block body %}  
 <div class="wrapper">
    <div class="wrapper-title">
        <h1 class="font-bold text-3xl">Sondage</h1>
        <span class="tools">
        </span>
    </div>
    <div class="wrapper-body">
        <a href="{{ path('admin_survey_add') }}" class="btn btn-primary" title="Ajouter un survey"><i class="fas fa-plus"></i> Ajouter</a>
        {% include 'component/pagination.html.twig' with {'margin': 'both'} %}
        <ul>
            {% for survey in surveys %}
                <li class="list-dropdown">
                    <a href="{{ survey.responseAction.url }}" class="btn btn-list" title="survey.responseAction.title">
                        {{ survey.responseAction.label }}
                    </a>
                    {% include 'component/dropdown.html.twig' with {'dropdown': survey.dropdown} %}
                </li>  
            {% endfor %}
        </ul>
        {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
    </div>
</div>

{% endblock %}
