{% extends 'base_admin.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="flex mt-4">
            <div>
                <h1 class="font-bold text-3xl">Sondages</span></h1>
                <div class="text-muted mt-1">Administration des sondages : création des questionnaires et suivi des réponses</div>
            </div>
        </div>
        {% include('survey/admin/_frame_list.html.twig') %}
    </div>
{% endblock %}

