{% extends 'base.html.twig' %}

{% block title %}Gestion des surveys{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1 class="font-bold text-3xl">{{ survey.title }}</h1>
            {% include 'component/dropdown.html.twig' with {'dropdown': survey.dropdown} %}
            <span class="tools">
                <a href="{{ path('admin_surveys') }}" class="btn btn-ico" title="Retour à la liste des surveys"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        {% include('survey/admin/_frame_show.html.twig') %}
    </div>        
{% endblock %}
