{% extends 'base_modal_stimulus.html.twig' %}
{% block modal_title %}Rappel inscription{% endblock %}
{% block body %}
    <p>{{ message|raw }}</p>
{% endblock %}
{% block action %}
    <button 
        data-action="click->modal#handleAction" 
        data-modal-event-name-value="participation:toggle"
        data-modal-payload-value="{{ session.id }}"
        class="btn btn-warning"
    >
        Valider sa participation
    </button>
{% endblock %}