{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Paramètrage{% endblock %}

{% block body_title %}Paramètrage{% endblock %}

{% block body %}
 {% include('common/menu.html.twig') %}
    <main id="container" class="index">
        <div>
            <div class="block">
            </div>
        </div>
    </main>
{% endblock %}
