{% extends 'base_modal_stimulus.html.twig' %}
{% block modal_title %}Supprimer une sortie {{ bike_ride.title }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer<br>la sortie {{ bike_ride.title }} du  {{ bike_ride.period }} ?</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="btn text-white bg-{{ type}}"
    >
        <i class="fas fa-check"></i> Supprimer
    </button>
{% endblock %}
