{% extends 'base_modal.html.twig' %}
{# {% set button_href = path('admin_level_delete', {'level' : level.id}) %} #}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer l'étape {{ registrationStep.title }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer l'étape' {{ registrationStep.title}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
