{% extends 'base.html.twig' %}

{% block title %}Lien{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Accueil'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-width wrapper-full-background">
        <div class="wrapper-title">
            <h1>Liens</h1>
        </div>
        <div class="wrapper-body col-4">
            {% for link in links %}
            <div class="card card-link reveal" data-toggle="card-body">
                <a href="{{ link.btnShow.url }}" target="{{ link.btnShow.target}}">
                    {% if link.novelty %}<div class="badge novelty">N</div>{% endif %}
                    <div class="card-img" style="background-image:url({{ link.image }}"></div>
                    <div class="card-title">
                        <h3>{{ link.description }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
