{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_category_delete', {'category' : category.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer une categorie {% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer la catégie {{ category.name}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
