<div class="dropdown">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown-{{ user.entity.id }}"><i class="fas fa-ellipsis-v"></i></button>
  <ul class="dropdown-menu" data-target="dropdown-{{ user.entity.id }}">
    <li><a class="dropdown-item" href="#">Adhérent</a></li>
    <li><a class="dropdown-item" href="#">Parent</a></li>
    <li><a class="dropdown-item" href="#">Santé</a></li>
    <li><a class="dropdown-item" href="#">Licence</a></li>
  </ul>
</div>