{% extends 'base.html.twig' %}

{% block title %}Gestion des adhérents{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include('user/admin/_member_list.html.twig') %}
    </div>
{% endblock %}
