<turbo-frame id="order-list" class="block" data-with-skeleton="true">
    {% include "component/_list_skeleton.html.twig" with {title: "Commandes"} %}
    <div class="block [turbo-frame[busy]>&]:hidden transition-opacity duration-200">
        <div class="border border-border rounded-md">
            <div class="bg-slate-300 pl-4 py-2 flex items-center">
                <div class="uppercase text-white text-sm">
                    Commandes - <span class="">{{ list.paginator.total }}
                </div>
                <div class="ml-auto">
                    {% include 'component/_dropdown.html.twig'  with {dropdown: list.tools} %}
                </div>
            </div>
            <ul id="orders_container">
                {% for item in list.items %}
                    <li class="group relative grid grid-cols-1 lg:grid-cols-[1fr_112px] items-center lg:gap-4 not-last:border-b not-last:border-border lg:pr-4">
                        <div class="grid grid-cols-1 lg:grid-cols-[2fr_1fr] group relative items-center gap-x-4 gap-y-2 p-3 pr-6 text-foreground lg:text-foreground/60 lg:hover:text-foreground bg-slate-100 hover:bg-slate-200 transition-colors">
                            <a href="{{ item.url }}" class="absolute inset-0 z-10 mr-10" title="Voir la commande" data-turbo-frame="_top">
                                <span class="sr-only">Voir la commande</span>
                            </a>
                            {% include 'component/_list_item.html.twig' with {
                                item: item, 
                                grid_template_labels: 'grid-cols-[80px_auto_80px] lg:grid-cols-3', 
                                grid_template_badges: 'grid-cols-1'
                            } %} 
                            {% include 'component/_dropdown.html.twig' with {dropdown: item.dropdown} %}
                        </div>
                        <div>
                            {% if item.action %}
                            <div class="px-4 py-2 lg:p-0">
                                {% include 'component/_button.html.twig' with {button: item.action} %}
                            </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if list.items is empty %}
                {% include "component/_empty.html.twig" with {icon: 'lucide:circle-x', message: 'Aucune commande'} %}
            {% endif %}
        </div>
        {% include 'component/pagination.html.twig' with {'paginator': list.paginator, 'margin': 'top'} %}
    </div>
</turbo-frame>