{% extends 'base.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1 class="font-bold text-3xl">Gestion des commandes - <span class="badge badge-info">{{ list.paginator.total }}</span></h1>
            <div class="tool-group">
                <a 
                    href="{{ path('wiki_show', {'directory': 'boutique'})}}" 
                    target="_blank" 
                    title="wiki"
                    class="text-foreground lg:text-muted lg:hover:text-foreground"
                >
                    {{ ux_icon('lucide:circle-help',{ class: 'w-5 h-5' }) }}
                </a>
                {% include 'component/dropdown.html.twig' with {dropdown: list.settings} %}
                {% include 'component/dropdown.html.twig'  with {dropdown: list.tools} %}
            </div>
        </div>
        {% include('order/admin/_frame_list.html.twig') %}
    </div>
{% endblock %}