{% extends 'base_admin.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="flex gap-2 mt-4">
            <div>
                <h1 class="font-bold text-3xl">Commandes</span></h1>
                <div class="text-muted mt-1">Administration des commandes de la boutique: état des stocks, validation</div>
            </div>
            <div class="ml-auto">
                <div class="flex flex-col lg:flex-row items-center rounded-sm divide-y lg:divide-y-0 lg:divide-x divide-white">
                    {% include 'component/button.html.twig' with {button: list.wiki} %}
                    {% include 'component/dropdown.html.twig' with {dropdown: list.settings} %}
                </div>
            </div>
        </div>
        {% include('order/admin/_frame_list.html.twig') %}
    </div>
{% endblock %}
