{% extends 'base.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1 class="font-bold text-3xl">Gestion des commandes - <span class="badge badge-info">{{ paginator.total }}</span></h1>
            <div class="tool-group">
                <a href="{{ path('wiki_show', {'directory': 'boutique'})}}" target="_blank" title="wiki" class="btn-wiki"></a>
                {% include 'component/dropdown_settings.html.twig' %}
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                    <div class="dropdown-menu" data-target="dropdown-tools">
                        <ul class="dropdown-body">
                            <li><a href="{{ path('admin_order_headers_export') }}" class="dropdown-item" title="Exporter la sélection"><i class="fas fa-file-csv"></i> Exporter la sélection</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include('order/admin/_frame_list.html.twig') %}
    </div>
{% endblock %}
