main {
    display: grid;
    grid-template-areas: "header header"
                         "notification notification"
                         "nav wrapper";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 300px 1fr;
    gap: 20px 50px;
    max-width: 1100px;
    margin: 0 auto;
}
.notification {
    grid-area: notification;
}

.wrapper {
    grid-area: wrapper;
    /* padding: 10px; */
    background-color: var(--white-color);
    overflow: hidden;
}
nav {
    grid-area: nav;
}
.header {
    grid-area: header;
    text-align: center;
}
nav > .nav-group.block:not(:last-child) {
    margin-bottom: 20px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}
nav > .nav-group > a > .block-title {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: unset;
}
nav > .nav-group > a > .block-title > .tools.angle {
    font-size: 28px;
    padding: 0 8px;
}
nav > .nav-group > .block-body > ul > li::after {
    margin: unset;
}
nav > .nav-group > .block-body > ul > li > a {
    padding: 12px;
    display: block;
    color: var(--background-color);
    background-color: var(--white-color);
}
nav > .nav-group > .block-body > ul> li > a:hover, nav > .nav-group > .block-body >  ul> li > a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: unset;
    background: unset;
    font-weight: normal;
    color: unset;
}
.ui-state-default .sortable-cursor:hover {
    cursor: move;
}
.nav-group .block-body.up, .up[data-target] {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}
.nav-group .block-body.down, .down[data-target] {
    max-height: 750px;
    transition: max-height 0.25s ease-in;
}

.nav-group .block-title {
    margin: unset;
}
.registrations .chart {
    position: relative;
    height: 45px;
    line-height: 45px;
    width: 30px;
}
.registrations .chart.active::after {
    content: '';
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 12px;
    left: 0px;
}
.registrations .chart:not(.last-item)::before {
    content: '';
    background-color: var(--background-color);
    position: absolute;
    display: block;
    height: 74px;
    width: 2px;
    top: 30px;
    left:10px;
}
.registrations .labels .chart::before {
    top: 35px;
}
.registrations .chart.school-vtt::after {
    border: 2px solid var(--green-color);
}
.registrations .labels {
    text-align: center;
}
.registrations .labels .school-vtt {
    color: var(--green-color);
}
.registrations .labels .adult {
    color: var(--primary-color-darker);
}
.registrations .labels .row {
    line-height: 20px;
}
.registrations .labels .col-md-6, .registrations .labels .col-md-3  {
    padding: 0 5px;
}
.position-relative {
    position: relative;
}
.modal-content .ck.ck-content {
    max-height: 350px;
    font-size: small;
}
@media screen and (max-width: 1024px) {
    main {
        display: block;
        max-width: 100%;
        overflow: hidden;
    }
    ul.filters .btn:not(.btn-ico){
        padding: 12px 15px;
    }
    .wrapper {
        min-height: calc(100vh - 45px);
    }
}