@import "tailwindcss";

body {
    background-color: lightgray;
}

img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}
pre {
    background-color: var(--background-color);

    padding: 8px;
}