
.slider, .fade-in {
    overflow: hidden;
    position: relative;
}

.full-background {
    position: fixed;
}

.slider picture, .full-background picture {
    overflow: hidden;
    position: absolute;
    transition: all 1s ease;
}
.full-background picture {
    opacity: 0.8;
}
.slider picture.loaded, .full-background picture.loaded {
    z-index: 3;
}
.slider picture.playing, .full-background picture.playing {
    z-index: 2;
}
.slider picture.back, .full-background picture.back {
    z-index: 1;
}

.full-background picture.loaded, .full-background picture.back  {
    opacity: 0;
}
.full-background picture.playing {
    opacity: .8;
}

.slider picture img, .full-background picture img {
    width: unset;
    height: unset;
    max-width: unset;
    position: absolute;
}