<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="/images/favicon.jpg" />
        <title>VTT évasion LUDRES - maintenance</title>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <main>
        <div class="header">
            <a class="logo">
                <img src="/logos/logo.png" alt="vtt évasion ludres">
            </a>
            <img src="/logos/logo.jpg" alt="vtt évasion ludres">
        </div>
        <div class="wrapper wrapper-full-width full-background">
            <div class="wrapper-title">
                <h1>Site en Maintenance</h1>
            </div>
        </div>
        </main>
    </body>
    
</html>