{% extends 'base_modal_stimulus.html.twig' %}
{% block modal_title %}Supprimer une image de fond{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer l'image de fond <br>{{ background.filename }} ?</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="btn text-white bg-{{ type}}"
    >
        <i class="fas fa-check"></i> Supprimer
    </button>
{% endblock %}
