<turbo-stream action="remove" target="skill_category_item_{{ skillCategoryId }}"></turbo-stream>

<turbo-stream action="update" target="modal_content">
    <template>
        <div data-action="connect->modal#close"></div>
    </template>
</turbo-stream