{% set menus = header_service.menusAdmin() %}
<div class="nav-bar">
    <a href="" class="btn btn-ico"></a>
    <img src="/images/logo.jpg" alt="VTT EVASION LUDRES">
</div>

<nav class="admin">
    <ul>
        {% for menu in menus %}
            <li>
                <a href="{{ path(menu.route) }}"{% if app.request.get('_route') matches menu.pattern %} class="active"{% endif %}>{{ menu.label }}</a>
                {% if menu.subMenus is not empty %}
                    <ul class="sub-menu">
                        {% for sub_menu in menu.subMenus %}
                            <li>
                                <a href="{{ path(sub_menu.route, sub_menu.params) }}">{{ sub_menu.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>