{% import "component/_macros.html.twig" as utils %}

<div class="flex items-center">
    <div class="px-1 rounded-sm text-xs {{ utils.color_class(badge.variant.value) }}">
        {{ badge.value}}
    </div>
</div>
