<div class="flex flex-col items-center justify-center p-12 text-slate-400">
    <div class="mb-4 opacity-20">
        {{ ux_icon(icon, {class: 'size-16'}) }}
    </div>
    <p class="text-lg font-medium">{{ message }}</p>
</div>