<dialog data-controller="sheet" data-sheet-target="dialog" class="p-0 m-0 max-w-none max-h-none h-screen w-screen bg-transparent overflow-hidden">
    <div 
        data-sheet-target="container"
        class="fixed inset-y-0 right-0 z-50 w-full max-w-md bg-white dark:bg-slate-800 shadow-xl transition-transform duration-500 ease-out translate-x-full border-l border-border flex flex-col"
    >
        <turbo-frame 
            id="sheet_content" 
            data-sheet-target="frame"
            data-action="turbo:frame-render->sheet#open"
            class="h-full block"
        >
        </turbo-frame>
    </div>
</dialog>