<div data-controller="carrousel" class="wrapper-img slider">
    {% for background in content.backgrounds %}
        <picture class="{{ loop.index0 == 0 ? 'playing' : 'rewind' }}">
            <source media="(max-width: 400px)" srcset="../images/background/landscape_xs/{{ background.filename }}">
            <source media="(max-width: 800px)" srcset="../images/background/landscape_md/{{ background.filename }}">
            <img src="../images/background/square/{{ background.filename }}" alt="le club">
        </picture>
    {% endfor %}
</div>