{% set menus = menu_service.menus() %}
<div class="header">
    <a class="logo" href="{{ path('home')}}">
        <img src="/logos/logo.png" alt="vtt évasion ludres">
    </a>
    <img src="/logos/logo.jpg" alt="vtt évasion ludres">
    <img src="/logos/ville-active-sportive-fleurie.jpg" alt="ville de Ludres" class="logo logo-ludres">
</div>

<a href="{{ path('notification_list') }}" data-toggle="notification"></a>