<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
    </head>
    {% apply inline_css(source('@styles/email.css')) %}
        <body style="font-family: Verdana,Geneva,Tahoma,sans-serif;font-size: 13px">
            <header >
                <img src="{{ app.request.schemeAndHttpHost }}/logos/logo.jpg" alt="VTT EVASION LUDRES" height="100">
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>
                <img src="{{ app.request.schemeAndHttpHost }}/logos/logo.png" alt="vvt évasion Ludres" style="height:70px;  width: 80px">
                <div>Bureau des associations<br>Hôtel de ville<br>54710 Ludres</div>
            </footer>
        </body>

    {% endapply %}
</html>