<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    {% apply inline_css(source('@styles/email.css')) %}
        <body style="font-family: Verdana,Geneva,Tahoma,sans-serif;font-size: 13px">
            <header>
                <img style="height: 100px;" src="{{ url('get_file', {'filename': 'logos/logo.jpg'|base64Encode}) }}" alt="VTT EVASION LUDRES" height="100">
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>
                <img src="{{ url('get_file', {'filename': 'logos/logo.png'|base64Encode}) }}" alt="vvt évasion Ludres" style="height:70px;  width: 80px">
                <div>Bureau des associations<br>Hôtel de ville<br>54710 Ludres</div>
            </footer>
        </body>
    {% endapply %}
</html>