<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ parameter_service.getParameter('PROJECT_NAME')}} - {% endblock %}</title>
        {% block stylesheets %}
        <style>
            body {
                font-family: yu gothic ui m, sans-serif;
                color: #333333;
                max-width: 800px;
            }
            footer {
                font-size: x-small;
            }
            h1 {
                color: #814792;
            }
        </style>
        {% endblock %}
    </head>
    <body>
        <div id="bodyContainer">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
