{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-blue background-color col-2 col-no-gap">
        <div class="wrapper-img" style="background-image:url(../images/background.jpg)"></div>
        <div class="wrapper-content">
            {{ content.content | raw}}
        </div>
    </div>
{% endblock %}
