<turbo-frame id="crontab" class="w-100 flex-auto">
    <a href="{{ path('admin_crontab_logs')}}" data-turbo-frame="_top">
        <div class="dashboard-item-body">
            <div>
                <span class="{{ onError ? 'danger' : 'success' }}"></span>
                <span> Dernière execution de la tâche planifiée : {{ executeAt }}</span>
            </div>
        </div>
    </a>
</turbo-frame>
