{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>Tableau de bord</h1>
        </div>
        <div class="wrapper-body">
            <div class="flex mb-20">                
                <div class="dashboard-item" data-route="admin_dashboard_next_bike_rides"></div>
                <div class="dashboard-item">
                    <div class="dashboard-item-title">
                        <h2>Participation école VTT</h2>
                    </div>
                    <div class="dashboard-item-body">
                        <div class="content-center">
                            {% set route_params = {'isScool': true} %}
                            <canvas id="school_line_chart" class="line-chart" data-route="members_presence_monthly" data-is-school="1"</canvas>
                        </div>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="dashboard-item-title">
                        <h2>Participation Adultes</h2>
                    </div>
                    <div class="dashboard-item-body">
                        <div class="content-center">
                            <canvas id="adult_line_chart" class="line-chart" data-route="members_presence_monthly" data-is-school="0"></canvas>
                        </div>
                    </div>
                </div>
                <div class="dashboard-item" data-route="admin_dashboard_saison_detail"></div>
                <div class="dashboard-item" data-route="admin_dashboard_orders"></div>
                <div class="dashboard-item" data-route="admin_dashboard_second_hands"></div>
            </div>
        </div>
    </div>
{% endblock %}
