{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_link_delete', {'link' : link.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer un lien {{ link.url }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer le lien {{ link.title}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
