<turbo-frame id="activity-list" data-with-skeleton="true">
    {% include "component/_list_skeleton.html.twig" with {title: "Activités"} %}
    <div class="block [turbo-frame[busy]>&]:hidden transition-opacity duration-200">
        <div class="border border-border rounded-md">
            <div class="bg-slate-300 uppercase px-4 py-2 text-white text-sm">
                Activités - <span class="">{{ list.paginator.total }}
            </div>
            <ul id="activities_container">
                {% for item in list.items %}
                    <li class="grid grid-cols-1 lg:grid-cols-[2fr_1fr] group relative items-center gap-x-4 gap-y-2 p-3 pr-6 text-foreground lg:text-foreground/60 lg:hover:text-foreground bg-slate-100 hover:bg-slate-200 transition-colors not-last:border-b not-last:border-border">
                        <a href="{{ item.url }}" class="absolute inset-0 z-10 mr-10" title="Voir l'activité'" data-turbo-frame="_top">
                            <span class="sr-only">Voir l'activité'</span>
                        </a>
                        {% include 'component/_list_item.html.twig' with {
                            item: item, 
                            grid_template_labels: 'grid-cols-[80px_auto]', 
                            grid_template_badges: 'grid-cols-[80px_auto_40px]'
                            } %} 
                        {% include 'component/_dropdown.html.twig' with {dropdown: item.dropdown} %}
                    </li>
                {% endfor %}
            </ul>
            {% if list.items is empty %}
                {% include "component/_empty.html.twig" with {icon: 'lucide:circle-x', message: 'Aucune activité'} %}
            {% endif %}
        </div>
        {% include 'component/pagination.html.twig' with {'paginator': list.paginator, 'margin': 'top'} %}
    </div>
</turbo-frame>