</br>
<div>
    {% for  licenceAuthorization in licence.authorizationAgreements %}
        <h2>
            {{ licenceAuthorization.title }}
        </h2>
        {{ keywords.replace(licenceAuthorization.content, user)|raw }}
    {% endfor %}
</div>
