<div>
    {% for  licenceConsent in licence.licenceHealthConsents %}
         <p><img src="data:image/png;base64, {{ check_img }}" class="img-check"/>{{ licenceConsent.consent.content|raw }}</p>
    {% endfor %}
</div>
<div>
    {% for  licenceConsent in licence.licenceOvewiewConsents %}
         <p><img src="data:image/png;base64, {{ check_img }}" class="img-check"/>{{ licenceConsent.consent.content|raw }}</p>
    {% endfor %}
</div>
