<turbo-frame id="product-list">
    <div class="wrapper-body">
        {% include 'component/button.html.twig' with {button: list.addItem} %}

        {% if form is defined %}
        {{ form_start(form) }}
        <div class="filters">
            <ul>
                <li>{{ form_widget(form.state)}}</li>
            </ul>
        </div>
        {{ form_end(form) }}
        {% endif %}
        {% include 'component/pagination.html.twig' with {'paginator': list.paginator, 'margin': 'bottom'} %}
        <ul id="products_container">
            {% for item in list.items %}
                <li class="group relative grid grid-cols-2 lg:grid-cols-[1fr_60px_1fr] items-center gap-4 p-3 text-foreground lg:text-foreground/60 lg:hover:text-foreground bg-neutral-100 hover:bg-neutral-200 transition-colors border-b border-border">
                    <a href="{{ item.url }}" class="absolute inset-0 z-10 mr-10" title="Modifier l'article" data-turbo-frame="_top">
                        <span class="sr-only">Modifier l'article</span>
                    </a>
                    {% include 'component/_list_item.html.twig' with {item: item} %}
                    {% include 'component/dropdown.html.twig' with {dropdown: item.dropdown} %}
                </li>
            {% endfor %}
        </ul>
        {% if list.items is empty %}Aucun article{% endif %}
        {% include 'component/pagination.html.twig' with {'paginator': list.paginator, 'margin': 'top'} %}
    </div>
</turbo-frame>