<turbo-frame id="product-list" data-with-skeleton="true">
    {% include "component/_list_skeleton.html.twig" with {title: "Produits"} %}
    <div class="block [turbo-frame[busy]>&]:hidden transition-opacity duration-200">
        <div class="border border-border rounded-md">
            <div class="bg-slate-300 uppercase px-4 py-2 text-white text-sm">
                Produits - <span class="">{{ list.paginator.total }}
            </div>
            <ul id="products_container">
                {% for item in list.items %}
                    <li class="group relative grid grid-cols-1 lg:grid-cols-2 items-center gap-x-4 gap-y-2 p-3 pr-6 text-foreground lg:text-foreground/60 lg:hover:text-foreground bg-slate-100 hover:bg-slate-200 transition-colors not-last:border-b not-last:border-border first:rounded-t-md last:rounded-b-md">
                        <a href="{{ item.url }}" class="absolute inset-0 z-10 mr-10" title="Modifier l'article" data-turbo-frame="_top">
                            <span class="sr-only">Modifier l'article</span>
                        </a>
                        {% include 'component/_list_item.html.twig' with {
                            item: item, 
                            grid_template_labels: '', 
                            grid_template_badges: 'grid-cols-[1fr_70px]'
                        } %} 
                        {% include 'component/_dropdown.html.twig' with {dropdown: item.dropdown} %}
                    </li>
                {% endfor %}
            </ul>
            {% if list.items is empty %}
                {% include "component/_empty.html.twig" with {icon: 'lucide:circle-x', message: 'Aucun article'} %}
            {% endif %}
        </div>
        {% include 'component/pagination.html.twig' with {'paginator': list.paginator, 'margin': 'top'} %}
    </div>
</turbo-frame>