{% extends 'base_modal.html.twig' %}
{% set button_href = path('admin_product_delete', {'product' : product.id}) %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer le produit{{ product.name }}{% endblock %}
{% block body %}
    <p>Etes vous certain de supprimer le produit {{ product.name }} ?</p>
{% endblock %}
{% block footer %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}
