{% extends 'base.html.twig' %}

{% block title %}Gestion de la boutique{% endblock %}

{% block body %}
 <div class="wrapper">
            <div class="wrapper-title">
                <h1>Gestion de la boutique</h1>
            </div>
            <div class="wrapper-body">
                <span class="tools">
                    <a href="{{ path('admin_product_add') }}" class="btn btn-primary" title="Ajouter un produit"><i class="fas fa-plus"></i> Ajouter</a>
                </span>
                {% include 'common/pagination.html.twig' with {'margin': 'both'} %}
                <ul>
                    {% for product in products %}
                        <li class="col-list col-list-2btn">
                            <div class="list-item">
                                {{ product.name }}
                            </div>
                            <a class="btn btn-primary btn-ico" href="{{ path('admin_product', {'product' : product.id}) }}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                            <a class="btn btn-danger btn-ico" href="{{ path('admin_product_delete', {'product' : product.id}) }}" title="Supprimer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                        </li>
                    {% endfor %}
                </ul>
                {% include 'common/pagination.html.twig' with {'margin': 'top'} %}
            </div>
        </div>
    </div>
{% endblock %}
