<div id="address_container">
    <div class="form-group">{{ form_row(identity.address.street) }}</div>
    <div class="form-group">
        {{ form_row(identity.address.postalCode) }}
        {{ form_row(identity.address.town) }}
    </div>
</div>