<div>
    {% for gardian in form.userGardians %}
        <b>{{ gardian.vars.value.kind|trans }}</b>
        <div class="form-group">{{ form_row(gardian.kinship) }}</div>
        {% include'identity/identity.html.twig' with {'identity': gardian.identity, 'gardian': gardian.vars.value.kind.value} %}
        {% if gardian.vars.value.kind == enum('App\\Entity\\Enum\\GardianKindEnum').LEGAL_GARDIAN %}
            <br><hr><br>
        {% endif %}
    {% endfor %}
</div>