{% set healthQuestions = form.children.health.children.healthQuestions %}

{% set replaces =  [] %} 
{% for question in healthQuestions %}
    {% set field = '{{ question_' ~ loop.index ~' }}'%}
    {% set replace = {(field): form_widget(question)} %}
    {% set replaces =  replaces|merge(replace) %} 
{% endfor %}

<div class="container">{{ current.content |replace(replaces)|imgPath(media)|raw}}</div>
