<div>
    {% include 'identity/identity.html.twig' with {'identity': form.identity } %}
    {% if form.plainPassword is defined %}
        <div class="form-group">{{ form_row(form.plainPassword)}}</div>
    {% endif %}
    {% if form.lastLicence is defined %}
        {% set licence = form.lastLicence %}
        {% if licence.familyMember is defined %}
            {{ form_row(licence.familyMember )}}
        {% endif %}
    {% endif %}
</div>