<div>
    {% for identity in form.identities %}
        {% include('identity/identity.html.twig') %}
    {% endfor %}
    {% if form.plainPassword is defined %}
        <div class="form-group">{{ form_row(form.plainPassword)}}</div>
    {% endif %}
    {% if form.lastLicence is defined %}
        {% set licence = form.lastLicence %}
        {% if licence.additionalFamilyMember is defined %}
            <div class="form-group">
                {{ form_row(licence.additionalFamilyMember )}}
            </div>
            <div id="familyMember" class="form-group">
                {% if licence.familyMember is defined %}
                    {{ form_row(licence.familyMember )}}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>