<div>
    {% for identity in form.identities %}
        {% include('identity/identity.html.twig') %}
    {% endfor %}
    {% if form.plainPassword is defined %}
        <div class="form-group">{{ form_row(form.plainPassword)}}</div>
    {% endif %}
    {% if form.lastLicence is defined %}
        {% set licence = form.lastLicence %}
        {% if licence.additionalFamilyMember is defined %}
        <div class="form-group">
            <div class="inputGroup long check">
                {{ form_row(licence.additionalFamilyMember )}}
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>