<div class="block background-primary background-color">{{ progress.current.content | raw}}</div>
<br>
{% for step in progress.progressBar %}
    {% if step.overviewTemplate is not null %}
        {% include(step.overviewTemplate) %}
    {% endif %}
{% endfor %}

{% if progress.user.lastLicence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') %}
    <ul class="block background-ligth">
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Email principal</b></span><span class="col-md-8 col-sx-6">{{ progress.user.mainEmail }}</span>
        </li>
    </ul>
{% endif %}
<br>
<div>
    {% set licence = form.lastLicence %}
    {% for  licenceConsent in licence.licenceOverviewConsents %}
        <div class="form-group">
            {{ form_widget(licenceConsent) }}
        </div>
    {% endfor %}
</div>