<div class="block background-primary background-color">{{ current.content | raw}}</div>
<br>
{% for step in steps %}
    {% if step.overviewTemplate is not null %}
        {% include(step.overviewTemplate) %}
    {% endif %}
{% endfor %}

{% if user.lastLicence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') %}
    <ul class="block background-ligth">
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Email principal</b></span><span class="col-md-8 col-sx-6">{{ user.mainEmail }}</span>
        </li>
    </ul>
{% endif %}
<br>
{% for licence in form.licences %}
    {% if licence.swornCertifications is defined %}
        {% for swornCertification in licence.swornCertifications %}
        <div class="form-group">
            {{ form_widget(swornCertification.value) }}
            {{ form_label(swornCertification.value) }}
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}