<div class="container">{{ current.content | raw}}</div>

<p>{{ user.seasonLicence.amountStr|raw }}</p>
<br>
<p>{{ user.isMedicalCertificateRequired(licence_service.currentSeason) }}</p>
<br>

<a class="btn btn-primary btn-xxl" href="{{ path('registration_file', {'user': user.entity.id }) }}">Télécharger le dossier</a>
