<div class="block background-primary background-color">{{ current.content | raw}}</div>
<br>
<p>{{ user.lastLicence.amount['str']|raw }}</p>
<br>
<p>{{ user.health.isMedicalCertificateRequired|raw }}</p>
<br>

