{% extends 'base_modal.html.twig' %}
{% block form %}{% set form = form %}{% endblock %}
{% block modal_title %}Supprimer un utilisateur{% endblock %}
{% block body %}
    <p>Etes-vous de supprimer l'utilisateur {{ user.firstName }} {{ user.lastName}} ?</p>
{% endblock %}
{% block footer %}
    {% set button_href = path('user_delete', {'user' : user.id}) %}
    {% set button_text = 'Supprimer' %}
    {{ parent() }}
{% endblock %}