<turbo-stream action="append" target="skills-list-container">
    <template>
        {{ include('cluster/admin/_skill_item.html.twig', {skill: skill, canEdit: canEdit, cluster: cluster}) }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="modal_content">
    <template>
        <div data-action="connect->modal#close"></div>
    </template>
</turbo-stream