{% extends 'base.html.twig' %}

{% block title %}Evaluations{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="wrapper-title">
        <h1>Evaluations du groupe {{ cluster.title }}</h1>
        <div class="tool-group">
            <a href="{{ path('admin_bike_ride_cluster_show', {'bikeRide': cluster.bikeRide.id}) }}"
                class="btn btn-ico" title="Retour à la rando">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
    </div>
    <div class="wrapper-body">
        <div {{ react_component('ClusterSkillList', {'cluster': cluster.id, 'canEdit': canEdit}) }}>
            <div class="loader-container">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}