{% extends 'base_email.html.twig' %}

{% block body %}
<b>Message envoyé depuis le site VTT Evasion Ludres</b>

<p>
    <b>Nom : </b>{{ data.name }}<br>
    <b>Prénom : </b>{{ data.firstName }}<br>
    <b>Mail : </b>{{ data.email }}<br>
    <b>Message : </b><br>{{ data.message }}<br>
</p>
<hr>
{% endblock %}